[2020-06-05 18:44] jandersson commented on #4324
Youre right, the match list needs tweaking (https://github.com/rpherbig/dr-scripts/blob/master/shape.lic#L56)

 The regular expression used right now gets 'leather cord'
https://rubular.com/r/zYQG67pWL03D3L

OK, found the problem, now how to fix without breaking everything 🤔

[2020-06-05 18:50] jonathan-stricker commented on #4324
Right! Well I'm not that good with regular expressions yet so I leave it in your hands, though if you want to send me a script I can test it out before you push to dependency. :)

[2020-06-05 20:20] jonathan-stricker commented on #4324
Right on, glad to test it out. will stand by for your ping, thanks so much!

[2020-06-07 16:31] GahstonDR opened #4332 "Theurgy.lic unable to find match for oil"
Theurgy script doesnt know what to do after counting the oil in your theurgy container.

[theurgy]>count my first oil in my watersilk bag
You feel that your gods have smiled upon you for your attempts to please them.
Room Number: 13215

You go out.
[Near Kaerna Village, A Dark Grove]
Around you grow trees in a circle so even and perfect they warrant suspicion.  In the center of the grove is a deep

[2020-06-07 20:17] candentech opened #4333 "lnet connection lost"
Not sure if this is the place to ask, suddenly a few hours ago I started getting the message
lnet connection lost, but it would immediately connect by itself so I didn't think any further of it.  Until it didn't connect again.  Just keeps retrying every 300 seconds.  Checked firewalls, tried a different internet connection just in case it was an IP block, and rebooted of course.  No change.  Affec

[2020-06-07 20:33] candentech commented on #4333
External LNET issue I guess.. back up.

[2020-06-07 20:33] #4333 closed

[2020-06-08 18:50] Tweedum opened #4334 "combat-trainer weapon swap/off hand"
Sometimes when the weapon change occurs my light thrown (boomerang) with end up in my off-hand causing a loop for a some time till its time to change weapons again. Its not every time. The log shows the correct order if stowing and getting the weapon, boomerang still ends  up in the off-hand once in a while for whatever reason.

ex:

[combat-trainer]>jab

< You jab a ngalio at a Dragon Priest zeal

[2020-06-08 19:01] Hiinky commented on #4334
Sadly this issue is specific to a boomerang.  The simu-side script that returns it to the hand that threw it seems to trigger any time it leaves your hand for any purpose - be it thrown or stowed.  The fastest and easiest fix would be to change weapons.

[2020-06-08 19:03] Tweedum commented on #4334
Thanks! That would explain why it "seems" random. I'll get a new weapon then.

[2020-06-08 19:13] jandersson opened #4335 "Extract magic research logic from crossing-train to new script"
Lets do researching as its own script.  Crossing-training has the logic necessary, it could be extracted into a standalone script. This will also add more options for the other two training managers t2 and coordinator.

[2020-06-08 19:20] #4334 closed

[2020-06-08 22:33] #4332 closed

[2020-06-09 23:46] LuckyThiefDR opened #4339 "request for ;pick to check field exp before removing gear and buffing"
;pick doesn't check field exp until after removing equipment and buffing. This issue comes up when ;pick is part of a script list for T2 - you end up removing gear and buffing for no reason, and then immediately put all your stuff back on and end the script.

[2020-06-10 01:59] KillashandreaDR opened #4340 "Two artificing base-recipes errors"
artificing: -simple gwethdesuan...
it indicates "bone totem" which works up until finishing the enchantment, after which it becomes a "totem" (no adjective).  The workorder script them tries to pick up a "bone totem" and bundle it with the logbook, but instead it pulls a "bone totem" from your backpack.  In order to get it to work, you need to either drop the adjective from the enchant and workord

[2020-06-10 03:59] Hiinky commented on #4339
In my opinion, would be best fixed by using ;locksmithing instead of pick.  The exp check is built in so it never even starts ;pick if already locked.  ;Locksmithing will also handle daily trainers or consumable trainers like keepsake boxes from burgle.  Additional settings are minimal can be found on wiki: https://elanthipedia.play.net/Lich_script_repository#locksmithing

[2020-06-10 04:05] Hiinky commented on #4339
[code]
These are the burgle settings I use on my T2 characters to go from BNE directly to locks to minimize time/drain between the two actions plus collect keepsakes boxes.

Since I'm already pasted a big chunk... here's the basic locksmithing settings
[code]

[2020-06-10 04:11] LuckyThiefDR commented on #4339
That's fantastic, I sort of ignored ;locksmithing as an option so I'll give that shot.
Thanks

[2020-06-14 01:24] Tweedum opened #4345 "go2 inv at feet not recognized"
Anything in the atfeet slot loops go2.

--- Lich: go2 active.

--- Lich: 'textsubs' has been stopped by go2.

[go2: ETA: 0:00:24 (115 rooms to move through)]

[go2]>east

You notice a blunt-tipped arrows with lavender stripe at your feet, and do not wish to leave it behind.

You sense your combat accuracy decrease as the battle shifts before you.

[go2: move: no recognized response in 30 seconds.

[2020-06-14 14:49] Kaesken opened #4346 "Trade Script"
Claims it doesn't see my caravan but it's right there.

[code]

[2020-06-14 18:26] LuckyThiefDR opened #4347 "Still having issues with ;pick"
My most recent download for the ;pick script was on 6/12 at ~7pm.

Here's the log from today -
---
You get a moldy mahogany caddy from inside your cloth lootpouch.

[pick]>disarm my caddy identify
Careful probing of the mahogany caddy fails to reveal to you what type of trap protects it.
You get the distinct feeling your careless examination caused something to shift inside the trap mechanism.  Th

[2020-06-14 20:11] Hiinky commented on #4345
run ;afk  as an autostart.  the feet inventory handling is built in.  just set`health_threshold: 0` if you don't want to ever combat log.

[2020-06-14 20:12] Hiinky commented on #4345
;e autostart('afk')

[2020-06-14 21:29] Hiinky commented on #4347
This issue has not yet been addressed and was not part of recent updates.  Solution is still in the works.

[2020-06-15 13:34] brewguyver opened #4349 "Pick.lic gem issue - "fill <gem container> with <boxname> isn't checking for the right response"
I recently started seeing the following problems

1. When the "Fill my gem pouch with my <boxname>" command is used, line 273 doesn't appear to be checking for "You fill your ...", causing a 15 second delay on every box. I tested this locally by adding 'You fill your', to current line 273 (the one that starts with bput("fill my #{@settings.gem_pouch_adjective} pouch with my #{box}",)
2. The fill c

[2020-06-15 14:44] Hiinky commented on #4349
Thanks for the feedback.

1)  Updated.  I believe the difference here is an open vs tied gem pouch so new match added.

2) It will always use the `gem_pouch_adjective` set in your yaml.  I recommend never ever using `gem` as that adjective for this reason.  It is a known bug with simu randomly changing color adjectives asking for a gem pouch instead of a red pouch.  having random color pouches won

[2020-06-15 17:14] Kaesken opened #4351 "combat-trainer ranged weapons"
It doesn't appear it handles when you run out of arrows/bolts.  It keeps going in a "load" loop.

Here's the messaging when you don't have any bolts:
You don't have the proper ammunition readily available for your light crossbow.

[2020-06-15 18:30] Hiinky commented on #4351
Someone else might have a better answer but there's not really any way to handle this easily.  You could leave hunting to go get ammo but if you have no restock, it will loop endlessly.   If you just skip the weapon with no ammo, it could stop training for god-knows-how long  because it is again dependent on ;restock or human interaction.

[2020-06-20 12:58] cfrisby77 opened #4352 "Combat-Trainer Summoned multiple weapons"
Had an issue this morning causing combat-trainer to fail. I was already using the summoned 2HE. and CT then summoned a 2HB. Because I was wielding 2 two handed weapons, CT was unable to continue the hunt. This occurred approx. in the last 10 minutes of a 60 minute hunt.

LOG:

[combat-trainer]>attack
< Moving as a single sinuous force, you slice a fiery marauder blade at an armored warklin.  An ar

[2020-06-20 13:03] #4352 closed

[2020-06-28 18:47] cfrisby77 opened #4356 "bescort.lic Jolas"
Bescort currently does not support for the Jolas not being present at the Wharf / Dock.

it needs a "when /What were you referring to/"

--------------------------------------------------------------------------------------------
**Mer'Kresh Match Information:**

The Jolas ties off to the Mer'Kresh docks!

A clerk enters and updates the slate board and yells out, "The sleek Jolas departing soon!"

[2020-06-29 00:46] Dartellum commented on #4321
Additional load was added in PR#4343.

[2020-06-29 00:51] #4321 closed

[2020-06-29 01:23] cfrisby77 commented on #4335
researcher.lic is available on repository

[2020-06-30 00:42] Hiinky commented on #4349
Addressed:  https://github.com/rpherbig/dr-scripts/pull/4350

Can be closed.

[2020-06-30 00:44] Hiinky commented on #4345
Please update or close if this solved your concerns.

[2020-06-30 01:50] #4349 closed

[2020-06-30 04:08] Hiinky commented on #4356
Handled on PR: Update Jolas #4359

[2020-06-30 16:22] #4356 closed

[2020-07-05 20:16] Angel-DR opened #4364 "Could you please fix this in Appraisal - won't focus defense, only items."
it seems it has args for focus, but you cannot ,appraisal focus defense - it seems it only will take an item.

Thank you!

https://github.com/rpherbig/dr-scripts/blob/88d2b8bb31991da99422239c97ee10765105a6c3/appraisal.lic#L14

[2020-07-05 23:49] drgabellia opened #4366 "Burgle not unpausing miscellaneous scripts when ending"
Scripts paused before burgle:
--- Lich: burgle active.
--- Lich: sanowret-crystal paused.
--- Lich: mattune paused.
--- Lich: tap paused.
--- Lich: almanac paused.

Scripts unpaused after selling loot:
You sell your writing slate to Cormyn.

Cormyn takes your writing slate and gives it a quick but thorough examination.  After pausing for a moment, he hands you 4711 kronars for it.

--- Lich: cross

[2020-07-06 14:37] LuckyThiefDR opened #4367 "base-hunting, suggested change to "dryads" room list"
Useful part of the hunting ladder would be improved by dividing the 2 areas and including premium rooms.

---

  twisted_dryads:
  - 9766
  - 9767
  - 9772
  - 9774
  - 9773
  twisted_dryads_premium:
  - 15231
  - 15230
  - 15229
  dryad_priestess:
  - 9768
  - 9769
  - 9770
  - 9771

---

Also, this part if mapping is possible

  dryad_priestess_premium:
  - ?????
  - ?????
  - ?????

[2020-07-06 15:24] #4364 closed

[2020-07-07 18:41] khrispyb opened #4368 "safe-room with yrisa has pushstream issue"
Hello

Using the safe-room with Yrisa in Fang Cove causes a massive slowdown (game keeps going with lich commands but the text crawls on my computer and rapidly catches up about 5-10 min later).  I usually see a pushstream type error at some point but not always.

I'm having this on multiple computers - any ideas what could be causing it?

[2020-07-08 17:35] GahstonDR opened #4371 "herb-stock not catching response"
Not sure why game spits out "X# pieces of material there" instead of the usual "x parts left of herb"

[herb-stock]>count my fifth nilos salve
I could not find what you were referring to.

[herb-stock]>count my first sufil sap
You count out 7 pieces of material there.

You feel fully attuned to the mana streams again.

[herb-stock: *** No match was found after 15 seconds, dumping info]
[herb-stock

[2020-07-09 03:57] #4371 closed

[2020-07-09 18:38] Nituki opened #4374 "Update spell-base for Anabasis spells"
Just need the following new necromancer spells added to base-spells.

https://pastebin.com/U2n81nyN

[2020-07-10 02:12] Hiinky commented on #4374
Address on 4375.  Thanks for the info!

[2020-07-10 03:19] Hiinky commented on #4367
I'm looking at the premie rooms now but aren't the twisted dryads and priestess' the same range?  What feature makes one better/different from the other that separating them offers benefit?  I'm not very familiar with these two.

[2020-07-10 03:28] #4374 closed

[2020-07-10 23:22] vtcifer commented on #4366
Can you provide any further info.  I cannot reproduce.

[2020-07-10 23:35] Hiinky commented on #4367
Addressed in PR: https://github.com/rpherbig/dr-scripts/pull/4377

[2020-07-11 11:45] #4367 closed

[2020-07-13 04:27] LuckyThiefDR commented on #4367
Sorry for the late response - the priestesses are slightly easier at level
34, compared to the twisted dryad's 36. It was mainly relevant due to their
parrying, which made the priestesses viable at lower ranks.

On Thu, Jul 9, 2020 at 8:20 PM Hiinky <notifications@github.com> wrote:

[2020-07-13 13:40] Nituki opened #4380 "Base-Spells Prydaen Cast"
Need to have the following cast message added to base-spells. Probably specific to Prydaens for Emuin's Candle.

You clench your fists, pressing your claws painfully into your flesh.

[2020-07-13 15:09] Hiinky commented on #4380
added in PR Add successful cast message for EMC #4381

[2020-07-14 16:16] #4380 closed

[2020-07-21 16:07] vtcifer commented on #4368
If I had to guess, it's the busywait loop.

It looks like when better (don't lie down) logic was put in for fang cove the pause in that loop was not put in specifically for fang cove.  I've seen the slow down, but not the pushstream error ever. I'll put a pause back in and see if the slow down gets any better.

[2020-07-21 17:16] vtcifer commented on #4285
I believe this is a race condition with move() from core lich.  #4393 should resolve this when finalized.

[2020-07-22 06:49] Kaltair opened #4396 "Add support for mana tuners in ;textsubs"
;textsubs does not currently support mana tuners. I've written my own little script, but it is a bit janky and would probably be better suited for ;textsubs ... aaand I'm not super savvy with .lic scripts. Below is what I came up with ... over to the crowd on how best to integrate it without breaking anything.

Cheers!

TextSubs.add('Faint streams of cold, white mana chill your core.', 'Faint (1/2

[2020-07-24 21:35] vtcifer opened #4398 "e help_me no longer works due to pastebin change"
It looks like pastebin no longer accepts non-https connections:

Adding the following code in submit_pastebin gets the following output:

[code]

[code]

I was able to troubleshoot to determine this, but when I tried simply changing the @paste_bin_url value to the new uri provided by pastebin, a different error was produced:

--- Exception: URI must be ascii only
C:/Ruby4Lich/lib/ruby/2.5.0/uri/rf

[2020-07-24 21:48] rcuhljr commented on #4398
Please get latest and see if the issue is resolved.

[2020-07-24 21:51] phalanxo opened #4399 "Combat trainer missing a match during foraging"
As you rummage around, you notice a small, brown colored cloud rise up into the air.  Inhaling, you drop to the ground, and suddenly realize you feel quite light headed.
Roundtime: 6 sec.
P>
[combat-trainer: *** No match was found after 15 seconds, dumping info]

[combat-trainer: messages seen length: 17]

[combat-trainer: message: The ship's rat closes to pole weapon range on you!]

[combat-train

[2020-07-24 22:02] vtcifer commented on #4398
That fixed it.

[2020-07-24 22:02] #4398 closed

[2020-07-24 22:09] vtcifer commented on #4399
Looks like someone may have been mining in the room?

[2020-07-25 04:50] phalanxo commented on #4399
Ahh, haven't seen that message before, probably cause I don't mine. Guess that would explain it..

[2020-07-26 17:57] SugarGnar opened #4402 "Trade Check Ability issue"
--- Lich: error: comparison of Float with nil failed	trade:1491:in `='	trade:1491:in `check_ability?'
--- Lich: trade has exited.

[2020-07-31 13:08] vtcifer commented on #4399
Looked at this further, and it doesn't quite match mining strings exactly.  It may be quirk of the area you're in, where was this?

[2020-07-31 19:56] phalanxo commented on #4399
It was in shipyard rats in the crossing with very low outdoorsmanship skill.

[2020-08-11 01:56] vtcifer commented on #4368
Should be resolved with #4425.  Can you confirm and close if OK?

[2020-08-11 11:43] khrispyb commented on #4368
Works way better, still slows down a bit but not like before where it would barely move along at all. Thanks!

[2020-08-11 11:43] #4368 closed

[2020-08-15 17:45] Angel-DR opened #4437 "Using enchant for the first time and it's looking for a finished part rather than creating it"
Genie user

,enchant 2 cambrinth retuner

[enchant]>get my retuner from my enchanter's satchel

Why is it assuming it exisits already?  Does this script not create any items, but rather only enchant them after they were created?  I am new to the entire crafting system.  Thank you in advance.

[2020-08-18 11:14] vtcifer commented on #4437
What does `,enchant help` say?

[2020-08-24 00:10] Angel-DR commented on #4437
--- Lich: enchant active.

--- Lich: equipmanager active.

--- Lich: equipmanager has exited.

  enchant <chapter> <recipe name> <noun>

   chapter      Chapter containing the item.

   recipe name  Name of the recipe, wrap in double quotes if this is
multiple words.

   noun

--- Lich: enchant has exited.

So I run it by the directions but it expects the tuner to be made,  It's
really odd.

 ,enc

[2020-08-24 00:14] vtcifer commented on #4437
multiple words.**

[2020-08-24 01:36] KatoakDR commented on #3474
I used @Tarhish's [workaround](https://github.com/rpherbig/dr-scripts/issues/3474#issuecomment-471380987) to `;e autostart('sanowret-crystal', false)`

However, scripts I autostart that way _do not appear_ in the `;autostart list` output and `;autostart remove <script>` doesn't work either because it doesn't think there are any autostart scripts.

However, when I connect to Lich, all the scripts t

[2020-08-24 03:54] KatoakDR opened #4452 "[maps] Request "Amusement Pier" in Crossing be mapped"
## Maps
* http://www.kythsjournal.com/maps/ZolMisc1.htm
* https://elanthipedia.play.net/RanikMap1c

## Cartographers
* [x] @KatoakDR maps the day/night time rooms and upload map-db
* [ ] @Hiinky adds graphical/clickable map of amusement pier

[2020-08-24 05:43] rcuhljr commented on #3474
`;e autostart` and `;autostart` have nothing to do with each other and ;autostart should generally be avoided. `;e stop_autostart('namegoeshere')` removes an autostart script, `;e list_autostarts` shows the scripts in your autostart currently.

[2020-08-24 05:45] rcuhljr commented on #3474
Or see section 10 in the setup instructions for more accurate info. https://github.com/rpherbig/dr-scripts/wiki/First-Time-Setup

[2020-08-24 05:58] KatoakDR commented on #4452
I've uploaded the mappings of the Amusement Pier during the daytime. Some rooms are different at night, I'll upload those once Elanthia goes to sleep.

Because of the snafu I caused with a typo for the custom movement from room 899 into the pier, I'm tag-teaming with Kali who will make that more advanced change as well as providing the visual clickable map of the pier.

[2020-08-24 07:14] KatoakDR commented on #4452
I've uploaded the map updates for night time room descriptions in the Amusement Pier (there were just a few rooms).

Also added the transition from room 899 to the Amusement Pier via:
[code]

In discussion with Kali, when moving to the pier from room 899 via "go amusement pier" then the game response is non-standard and Lich doesn't know what room we are in. However, after manually moving to anoth

[2020-08-24 23:33] mtruitt commented on #4437
It works fine, in this case it is rod.

Noun refers to the item is ENDS as and you work with.

A list of ingredients is provided:

   (1) A finished stone, bone or wood rod.
   (1) mana fount
   (1) primary sigil (congruence)

[2020-08-25 03:17] KatoakDR commented on #4452
As of `map-1598252498.json` the Amusement Pier mappings and StringProc transition from 899 are approved and available.

[2020-08-25 16:06] Angel-DR commented on #4437
I'm sorry, it does not work fine.  It is trying to GET tuner, not create
it.

Please tell me the exact syntax you using for it to work.

On Mon, Aug 24, 2020 at 7:33 PM Mark Truitt <notifications@github.com>
wrote:

[2020-08-26 22:12] GreyhallowDR opened #4456 "Appraisal script bonus feature"
I managed to restock my full pouches with some empty ones.

What if... when running the appraisal script, it will put empty pouches in the spare gem pouch container instead of back in the full gem pouch container.

The gem pouch is a container, and can be opened and closed.
The gem pouch is moderately soft.
It appears that the gem pouch can be worn attached to a belt.
You are certain that the gem

[2020-08-27 01:58] Hiinky commented on #4452
Image added - issue can be closed.

[2020-08-27 02:06] Hiinky commented on #4437
[code]

In your case you want to make a tuner from chapter 2
The recipe would be "cambrinth retuner"  in double quotes specifically.
The finished item is not actually called a cambrinth tuner.  It's the noun of your (1) A finished stone, bone or wood rod.

`;enchant 2 "cambrinth retuner" rod`  is correct usage.

The last one I made was from a maple rod I carved myself so the final product was an r

[2020-08-27 02:09] Hiinky commented on #4402
Could you provide more detail?  This is most likely a yaml error but without more detail it's impossible to tell.  Was this at the start of the script?  Somewhere in the middle?  Could you paste your yaml settings for ;trade?

[2020-08-27 02:16] Hiinky commented on #4399
Addressed in PR: https://github.com/rpherbig/dr-scripts/pull/4458
Can be closed.

[2020-08-27 02:58] #4452 closed

[2020-08-27 02:58] KatoakDR commented on #4452
Thanks @Hiinky

[2020-08-27 03:03] Hiinky commented on #4396
Address in PR: https://github.com/rpherbig/dr-scripts/pull/4459
Ready to close.

[2020-08-27 03:04] Hiinky commented on #4339
Just checking back to see if this solved your snag.  Please close the issue if you're we're all set.

[2020-08-27 15:51] #4399 closed

[2020-08-27 15:56] #4396 closed

[2020-09-04 15:22] rcuhljr opened #4478 "Dependency github communication deprecation"
By early march of 2021 github will stop supporting our method of communicating with the dr-scripts repository for retrieval of scripts.

https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

We use this [here](https://github.com/rpherbig/dr-scripts/blob/master/dependency.lic#L451). It can be corrected by removing that and adding it as a header to the request.

[cod

[2020-09-05 02:54] Kaltair opened #4480 "Textsubs typo"
Slight typo in Textsubs:

Luminous (14/21) sstreams

One too many "s" in streams. It's in the mana tuner section of the code.

[2020-09-05 18:14] #4480 closed

[2020-09-10 12:06] BinuDR opened #4485 "Attunement script errors"
The recent change to this script has introduced some problems as noted in my review of the closed PR.

https://github.com/rpherbig/dr-scripts/pull/4482

[2020-09-10 12:06] BinuDR commented on #4485
@KatoakDR

[2020-09-10 13:23] KatoakDR commented on #4485
Hi @BinuDR,

Good catch on the timer bug! I didn’t notice it when I was making my changes. That was the original logic so didn’t think to modify it.

It likely wasn’t noticeable before because the script only power walked the rooms once. For lunar mages the script only perceived exactly once so never would have reached the timer limit.

Fixing the timer check should be an easy update.

I agree the

[2020-09-10 16:29] BinuDR commented on #4485
There's a 60 second timer on learning from power perceiving so currently it will keep going and you only learn every 1 minute.  Given that, it's a big waste of time to run the script as it currently is.

Perceiving once and stopping worked before without wasting time.  You could do other things during the 1 minute downtime and call the script again afterwards.

[2020-09-11 01:47] KatoakDR commented on #4485
Thanks for the clarification, I'm going to look at making it more efficient. Possibly support an argument to behave the previous way of "one and done" or a "keep going until mind locked".

[2020-09-11 01:54] KatoakDR commented on #4485
What's the importance of `Time.now - @start_timer >= 90` ? Why 90 seconds?

[2020-09-13 01:54] #4485 closed

[2020-09-13 13:36] Nuzack commented on #4345
Please close this as I can not.

[2020-09-13 15:11] GahstonDR opened #4487 "Theurgy does not stop playing instrument"
Theurgy.lic does not stop playing instrument when cleaning altars with holy water causing the script to get stuck indefinately.

[Temple of Light, Gela Arenen]
The first sight on entering the room is the eastern wall, covered with a vast painting of the lands stretching to the east of Shard.  The rosy fingers of dawn reach toward the ceiling, across which the colors darken to a deep, velvety purpl

[2020-09-13 17:59] rpherbig commented on #4487
It looks like the problem is that `play` uses `sanowret_no_use_scripts` to determine when it should and should not play. `theurgy` is not in that list.

Here's my question, and I hope @GahstonDR you can help me out here. Can you use your sanowret scrystal during `theurgy`?

[2020-09-13 17:59] #4345 closed

[2020-09-13 19:09] GahstonDR commented on #4487
I have sanowret running all the time as an autostart and never ran into an issue with it so i always assumed it was ok

[2020-09-14 23:04] SekmehtDR opened #4490 "Error Message with shooting arrows via Dual Load"
I started noticing training-manager taking a dump on me when I get into dual loading.

[code]

[2020-09-14 23:09] KatoakDR commented on #4490
Thanks for the report @SekmehtDR and for [confirming](https://discord.com/channels/745675889622384681/745676350911676497/755202504140128316) you're using Ruby 2.0

I'll look into another way to remove the `s` from `arrows` that's supported by older Ruby versions. I'm on 2.5 myself.

[2020-09-14 23:16] KatoakDR commented on #4490
A potential fix may be to replace:
[code]
with
[code]

[2020-09-15 00:08] rpherbig commented on #4490
What do you think about using `slice` instead (https://ruby-doc.org/core-2.0.0/String.html#method-i-slice)? The code would look approximately like this:

[code]

Yields

[code]

[2020-09-15 12:58] #4490 closed

[2020-09-15 14:22] jayRyan24 commented on #4487
I pushed a fix, please test.

[2020-09-18 18:12] GahstonDR commented on #4487
ill test it out today! thanks everyone

[2020-09-18 22:34] jandersson commented on #4456
Is the issue that the script puts empty gem pouches in the wrong container?

[2020-09-19 00:19] #4487 closed

[2020-09-19 01:14] BinuDR commented on #1337
The setting `force_healer_town` deals with this.

This issue can be closed. @rpherbig .  If I don't need to @ you to close issues, please let me know.

[2020-09-19 01:23] BinuDR commented on #1306
This issue is taken care of as far as I know.  The uservar `discerns` and the yaml setting `check_discern_timer` handle it.
@rpherbig

[2020-09-19 01:36] #1337 closed

[2020-09-19 01:36] #1306 closed

[2020-09-19 01:43] BinuDR commented on #1385
This seems to be handled.  It uses the common-arcana method `check_moonwatch` to check if moonwatch is running, and if it's not it will start it and wait for the uservar to be populated with data.
@rpherbig

[2020-09-19 01:46] BinuDR commented on #1398
Does anyone still use steal since burgle was released?

[2020-09-19 02:05] #1385 closed

[2020-09-19 03:25] BinuDR commented on #1402
Created a PR for this.

https://github.com/rpherbig/dr-scripts/pull/4498

[2020-09-19 09:14] KatoakDR commented on #1398
Yep because it’s fun to rob stores :)

For training I rely on burgle script but I do run steal script every once in and a while.

[2020-09-19 12:20] #1402 closed

[2020-09-19 22:12] BinuDR commented on #1398
@rpherbig I'd say go ahead and close this.  With burgle and `hide_to_steal: false`, I don't think there's any need for it anymore.

[2020-09-20 02:43] #1398 closed

[2020-09-22 03:45] BinuDR commented on #1260
Pausing research causes you to lose progress over time.  Is this a feature people would want?  Researching is usually a less than optimal way to train as it is, losing progress on top of that wouldn't be helpful.

[2020-09-22 03:57] BinuDR commented on #1357
Bump!  This one looks useful.

[2020-09-25 03:31] debidjang opened #4505 "combat-trainer stalls after action count/skill check/stance change"
Been running it for a long while on other characters, but for some reason on a cleric combat-trainer often stalls soon after startup after drawing the first weapon:

[code]
Sometimes it will go through combat for awhile only to stall at a similar spot after looping through for 5-10 minutes.  Tinkered with the YAML endlessly, but can't figure out what could be wrong.  No error messages or anything,

[2020-09-25 14:27] Hiinky commented on #4505
Could you send more log?  From the time combat starts to the time it stalls?  And when it stalls does it do nothing at all or just not weapon things?

[2020-09-25 14:36] Hiinky commented on #4505
My two guesses:
Running somewhat blind is an interference between  offhand_thrown: and attack overrides.  Almost no one uses offhand_thrown anymore with aiming_trainables but I see you don't have an aiming type weapon so I see why you want to use it.  For the sake of testing I would try turning `offhand_thrown: false` and see what happens.

Second Guess:
Priority weapon syntax is a bit off so that

[2020-09-25 16:19] debidjang commented on #4505
Thanks for the suggestions.  I tried them, but am getting the same result.

Here's more log with the suggested changes from startup to stall.  This is the typical place where it stalls...right at the beginning.  I have no idea why it loops through for a bit sometimes.

LOG: https://pastebin.com/0VKmgDMe
YAML used: https://pastebin.com/b5FjwAYX

[2020-09-25 17:37] vtcifer commented on #4505
Based on the larger log, and yaml, I suspect what is going on is it's hanging in SpellProcess.execute, specifically if you have less than full mana it will pause waiting for full mana to infuse.

'Stack trace' is follows:

$COMBAT_TRAINER.start_combat steps through each of the class execute methods in this order:
setup
spell
pet
ability
loot
manipulate
trainer
attack

You can see it gets through s

[2020-09-25 18:37] Hiinky commented on #4505
Can confirm 100% this is the issue.  Ran into it on my cleric a while back and didn't remember seeing it until VTC picked out that line.  99 works and 100 breaks the universe.  Realistically though even a max level cleric can use 50 just fine so lowering the osrel_amount: should fix things.

[2020-09-25 18:49] debidjang commented on #4505
Amazing, that fixed it!  Thanks so much to you both.

[2020-09-25 21:29] #4505 closed

[2020-10-06 00:21] hstdmy opened #4526 "'gnome' not defined in tdps.lic"
![image](https://user-images.githubusercontent.com/69819871/95145111-f7ffc280-073f-11eb-8cfa-12922ac4cdac.png)

[2020-10-06 12:55] #4526 closed

[2020-10-07 12:46] vtcifer opened #4529 "HidePostStrings flag breaks safe-room waiting for others to finish"
Setting HidePostStrings flag to on breaks safe-room waiting in the auto-paths:

OFF (Works):
Also here: Foo who is lying down.

ON(Doesn't work):
Also here: Foo (prone).

[2020-10-08 15:01] Kaesken opened #4531 "tendme script suggestion"
Was wondering that if you have tendme already running after your death, that maybe it'll do another health check for bleeders when you start to "bleed" again.

Messaging:
You feel a brief tingling sensation and then notice that you're bleeding.

[2020-10-09 02:58] vtcifer commented on #4456
I think the first line indicates they themselves put empty pouches in their full pouch container?

[2020-10-11 00:05] KatoakDR commented on #4531
@Kaesken Curious, when you say "running after your death" do you mean that you want the `tendme` script to see if you're bleeding _while you're dead_ or after you've been resurrected? And if you've been resurrected, your concern is that you may not have been healed of your bleeders so you want `tendme` to take action to tend your wounds again?

[2020-10-16 14:47] rcuhljr commented on #4478
Five month reminder :)

[2020-10-17 16:40] GreyhallowDR opened #4553 "Missing map tag in database?"
https://pastebin.com/AHgeC60t

looks like you can navigate to location 2880 but once you're there you can't navigate out with go2

[2020-10-20 03:24] DryIce41 opened #4558 "Locksmithing.lic"
The match table doesn't include "You detach"  Can that be added please"

You detach a thigh pouch with a lock in the shape of a corn kernel from your thigh.

[locksmithing: checked against [/You take/i, /Remove what/i, /You aren't wearing that/i, /You sling/i, /You remove/i]]

[2020-10-20 17:23] #4558 closed

[2020-10-20 17:23] rpherbig commented on #4558
@DryIce41 it should be fixed, let me know if it's still breaking

[2020-10-28 01:12] GreyhallowDR commented on #4456
sorry, just realized you guys replied. There is no problem with the script as it. I was making a suggestion for an improvement.
Have the script respond to empty pouches pulled and rather than put them back in the full_pouch_container it could divert them to the spare_pouch_container.

[2020-11-05 20:00] Dartellum commented on #4319
Right, 500 times it loops asking. Did you obtain techniques? If so, that could cause you to not obtain certain workorders. Do you know what items you are asked to make when it does loop for challenging workorders? That would help.

Also, I have a PR in for the override to work with non Society bought herbs; meaning you forage what you need.

[2020-11-20 10:53] Kaltair opened #4612 ";commune and dirt stackers"
Is there any way to incorporate dirt stackers into ;commune?

[2020-11-20 14:56] vtcifer commented on #4612
Not that I'm aware, and I'm not sure of the utility there.

Dirt stackers really help when you're not in an area that you can easily forage for dirt, which doesn't really apply to commune.lic

[2020-11-20 21:44] dakre18 opened #4613 "New message needs matched for removing corn maze gloves"
The **heavy chain gloves bearing a blue-white phoenix** bought from the corn maze has a different removal message, that crossing-repair is not picking up. This may apply to other scripts that remove gloves.

`[crossing-repair]>remove my chain.gloves`
`Wiggling your fingers as mages do, you manage to loosen the chain gloves enough to pull them off.`

[2020-11-21 01:18] #4612 closed

[2020-11-21 01:19] Kaltair commented on #4612
Good enough for me.

[2020-11-21 20:48] KatoakDR commented on #4613
@dakre18 Is there a special message when you wear the gloves, too?

[2020-11-22 05:21] dakre18 commented on #4613
Yes. almost forgot that.

`[crossing-repair]>wear my chain.gloves`
`You tug on the chain gloves, flexing your hand as you pull them on for a snug fit.`

[2020-11-22 17:14] Dartellum commented on #4613
@KatoakDR you working on this?

[2020-11-22 17:30] Dartellum commented on #1268
Are you asking if we can add custom messages to the Hmm? Yes? Ok? currently in status-monitor? This something you still wanting now the request is 3 years old?

[2020-11-22 17:51] KatoakDR commented on #4613
@Dartellum   It’s on my todo list today but haven’t started yet if you’re gunning for it

[2020-11-22 17:53] Dartellum commented on #4613
@KatoakDR it is on your list, go for it. :+1:

[2020-11-22 17:59] KatoakDR commented on #4613
On it!

[2020-11-22 22:58] KatoakDR commented on #4553
Investigating

[2020-11-23 01:06] KatoakDR commented on #4553
This appears resolved. I can navigate back and forth between `2880` and `2888` fine. I also see the exit `out` mapped for the room `2888`.

Please let us know if you're still having any issues.

[code]

[2020-11-24 09:05] dakre18 commented on #4613
Found another in Appraisal:

Not sure of any others, but without looking at the code, i don't know if it uses a common function or not.

[2020-11-24 15:04] KatoakDR commented on #4613
Thanks, the appraisal script uses the equipmanager script. We’re waiting on the PR to be approved and merged for the fix to go live.

[2020-11-24 17:56] #4613 closed

[2020-11-29 17:12] LuckyThiefDR opened #4631 "base-picking error in disarm quick message list"
On line 85 of my copy of base-picking, under the heading "disarm_quick:", there is this incorrect message:

  - This trap is a laughable matter, you could do it blindfolded!

The actual message in game reads:

  - This trap is a laughable matter -- you could do it blindfolded!

Due to the mismatch, the pick script defaults to using disarm careful instead of quick.  A simple fix that worked for me

[2020-11-30 00:23] KatoakDR commented on #4631
Good catch, I believe it might be related to enabling TOGGLE APPRAISAL or recent phrasing changes otherwise unannounced.

We’ll get a fix in soon, thanks

[2020-11-30 13:45] #4631 closed

[2020-11-30 14:54] KatoakDR opened #4633 "combat-trainer/equipmanager: missing match string when try to stow loaded weapon"
As posted in [Discord](https://discord.com/channels/745675889622384681/745696628714897508/782877645754990602) by Malrik#3138:

[2020-12-01 08:24] KatoakDR commented on #4633
Unable to reproduce when trying to stow/put a loaded banded competition shortbow into these containers:
* wide leather war belt with an agonite-inlaid gargoyle buckle
* rough leather war belt with a razaksel-crow's head belt buckle
* light spidersilk hip pouch stitched with a dragon ouroboros

[2020-12-01 14:45] KatoakDR commented on #4633
Per Breubor:

[code]

[2020-12-02 15:58] #4633 closed

[2020-12-06 22:58] TegCross opened #4645 "Combat Trainer - please add fragment (shell fragments) sling ammo (from fest games)"
Please add 'fragment' to all relevant ammo places in Combat Trainer, specifically my issue arose from the 'shoot' command with my sling.

[combat-trainer: checked against [/isn't loaded/i, /There is nothing/i, /But your/i, /you (fire|poach|snipe) an? (?:.*\s)?(arrows?|bolt|shard|rock|sphere|clump|coral|fist|holder|lump|patella|pellet|pulzone|quadrello|quill|stone|stopper|verretto|crumb|spine|mantr

[2020-12-10 05:42] KatoakDR commented on #4645
Thanks for the report, @TegCross. Will take a look into it.

[2020-12-10 13:35] #4645 closed

[2020-12-10 21:48] TegCross opened #4649 "Combat-trainer - turn to face"
As shown in the log below, it appears there are several checks, but none for facing an opponent without a roundtime. This appeared to occur because I was too far away from the critter to hit it and was not facing it.

Forgive me if there is another issue open on this or I'm missing something, the only other somewhat related open issue was from 2018 and the notes all reference a barb using whirlwin

[2020-12-11 06:29] KatoakDR commented on #4649
Thanks for the detailed report, I'll take a look

[2020-12-11 15:22] #4649 closed

[2020-12-11 16:48] TegCross commented on #4649
@KatoakDR @rpherbig I don't think I thanked you both for the last fix, so... Thank you! Thank you!

[2020-12-13 23:27] KatoakDR opened #4654 ";pick hangs when lockpick ring becomes empty"
[Reported](https://discord.com/channels/745675889622384681/745675890242879671/787799607937728523) by Rageous (HelloFriends#0616):

[handsfull_error_log.txt](https://github.com/rpherbig/dr-scripts/files/5685758/handsfull_error_log.txt)

[2020-12-13 23:27] KatoakDR commented on #4654
Preparing fix

[2020-12-14 14:10] #4654 closed

[2020-12-16 13:35] RohkDR opened #4661 "Play.lic not handling cleaning instruments"
Is there anyway someone could add this to play.lic? It seems to not handle cleaning of instruments when they dirty, which effects learning potential from what I've seen. Thanks

[2020-12-16 15:17] rpherbig commented on #4661
`play.lic` does not clean, but `performance.lic` does. Can you give the other script a try?

[2020-12-16 15:20] vtcifer commented on #4661
AFAIK, this is intended for play.lic.  You should be regularly running performance to update your song anyways, and play.lic is designed to be just super minimal and 0 interference with other scripts.  Adding in a clean routine would break that concept.

[2020-12-16 16:01] RohkDR commented on #4661
Yea I know performance does all that rpherbig. And suppose I never looked at the play script, your right.. it is minimal. You can delete this if you can, or i can close it.

[2020-12-17 21:51] LuckyThiefDR opened #4662 "Pick does not recognize thief trap save from khri safe"
With Khri Safe active, a thief can make a kind of saving throw when a trap is blown. However, the trap is not disarmed, it simply does not activate.

Pick does not recognize the text and instead assumes the trap is disarmed and moves on to picking, which immediately activates the trap.

Here is a sample:
---
[pick]>disarm my ironwood caddy identify

The hinges of the ironwood caddy are covered wit

[2020-12-19 03:18] KatoakDR commented on #4662
Taking a look, thanks for the log

[2020-12-19 04:49] #4662 closed

[2020-12-31 21:26] LuckyThiefDR opened #4681 "Missing documentation for arrange_types setting - add to base.yaml"
I just found out that there is a feature that allows users to choose whether to use 'skin' or 'part' when arranging specific creature types. It's not an issue that comes up a lot, but it has a couple of legitimate use cases.

I suggest adding some comments to base.yaml in the section that deals with skinning:

[code]

This avoids cases where the default "arrange for skin" always fails, leading to

[2020-12-31 22:24] LuckyThiefDR commented on #4681
Here is a list of creature nouns that always have parts but never skins (across all creatures that share the noun). You could add this entire section to base for everyone if it checks out:

  arrange_types:
    wyvern: part
    grendel: part
    crab: part
    hog: part
    wasp: part
    spider: part
    gremlin: part
    peccary: part
    grub: part
    beisswurm: part
    arbelog: part
    worm

[2021-01-03 23:22] Kaesken opened #4687 "Sew Script + Traders on routes"
Okay so with traders doing their routes, sometimes they get advanced.  For some reason, although they get advanced upon and the caravan keeps moving, the game still thinks they're in combat.  I was going to ask if someone could maybe edit SEW script that when they get `You cannot do that while engaged!` to ASSESS then repeat the last command.

Here's an example of my trader being on her caravan ro

[2021-01-07 17:57] GreyhallowDR opened #4697 ";smith and/or ;forge not finishing parry stick"
i'm using ,smith to create a parry stick (,smith steel "simple parry stick"). It consistently gets stuck on the last step trying to use pliers instead of oil. Not having a problem making other things.

[code]

[2021-01-09 00:37] jandersson commented on #4697
Inventory issue? It's the only thing i can think of. Parry sticks are made pretty often by others

[2021-01-09 00:46] jandersson commented on #4681
Good news, you can add this by trying to edit the file! Let me know if you need assistance.

[2021-01-09 00:51] jandersson commented on #4661
Play shouldn't clean instruments. Its by design as folks mention a simple script with no interaction besides playing the instrument. Cleaning an instrument takes roundtime, so you have to know when and where to do it. The amount of work that takes is simply not worth it - and as far as I could tell; dirty zills teaches the same as clean ones or close enough.

[2021-01-09 00:57] jandersson commented on #4661
Forgot to mention: cleaning also requires moving and removing gear which is complicated. It might be possible with perfect harmony between  scripts, but as it stands theyre isolated :(

[2021-01-09 01:12] #4553 closed

[2021-01-09 01:16] jandersson commented on #4531
I think the question is does the script work after you've died and been brought back to life. Yes it does. If it doesn't, we need an issue for it!

[2021-01-09 01:16] #4531 closed

[2021-01-11 18:45] Bmoney420 opened #4711 "Combat-Trainer and dealings with lodged crossbow bolts"
I was playing in Dragon Priest Assassins and combat trainer had an issue with bolts that were lodged in me. Here is the error messaging. I can retrieve a log if necessary. Many thanks to all the Developers!

[combat-trainer: message: That crossbow bolt needs to be tended to be removed.]
[combat-trainer: checked against [/You pick up/i, /You put your/i, /Stow what/i]]
[combat-trainer: for command s

[2021-01-12 04:34] KatoakDR commented on #4711
@Bmoney420 Thanks, investigating

[2021-01-12 07:48] KatoakDR commented on #4711
@Bmoney420 What were you hoping to happen in this scenario? That the script tried to tend you to remove the lodged bolt or skip picking up the bolt that may be on the ground?

If skipping picking up ammo then you may run out, but at least the script wouldn't hang and could move on to other weapons if necessary.

Do your logs show that combat-trainer eventually tended your wounds to dislodge the bo

[2021-01-12 14:42] rcuhljr commented on #4478
Two month reminder before every single thing breaks.

[2021-01-16 15:55] Bmoney420 commented on #4711
honestly, i was hoping that the script would simply stow bolts laying on the ground, ignore lodged bolts and swap to the next weapon. mostly just because i figured that would be the easiest fix.

the script never actually tended the lodged bolts, but i also didn't give it enough time to attempt to do it. as soon as i saw it was hanging up, i canceled the hunt and left the assassin area lol

[2021-01-16 22:21] KatoakDR commented on #4711
I agree the simplest approach for now is just ignore the message when ammo is lodged in you and move on with the script.

You may end up out of ammo with it all on the ground, but at least the script won't be hung up and you potentially die from inaction.

[2021-01-17 00:08] #4711 closed

[2021-01-19 14:33] GreyhallowDR opened #4721 "adding recipes to base-recipes"
I get adding 1 might be a very low priority but  the belaying pin is a fairly common item these days. I'll look out for others that would be worth adding and list them here.

- name: a metal belaying pin
  noun: pin
  volume: 8
  type: weaponsmithing
  work_order: false
  chapter: 4

[2021-01-21 18:47] zauper opened #4722 "wand-watcher while invis"
You get an unrecognized error when trying to activate the wand if it triggers while you are invis:

e.g.:
[wand-watcher]>tap my diamondwood scepter

You tap a regal diamondwood scepter capped with a trilliant-cut Sunderstone that you are holding.
You cannot use the scepter while maintaining the effort to stay hidden.

possible you also get that message if you try to activate while hidden.

[2021-01-21 18:48] Kaesken opened #4723 "Favors script (altar use)"
My offering got rejected because my baby cleric failed to clean it the first time, lol.
Figured I'd post it here in case anyone would like to fiddle with it and set it to reclean if the first cleaning failed.  :D

Thanks guys!  You are all doing a wonderful job!  <3

[code]

[2021-01-29 17:45] Nituki opened #4728 "workorder script not properly handling blue flowers (through remedies)"
When trying to craft refreshment elixirs, the workorder script fails to process the blue flowers (see below):
[workorders: blue flowers]

--- Lich: alchemy active.

--- Lich: error: comparison of Integer with nil failed
    alchemy:58:in `<'
    alchemy:58:in `forage_ingredient'

and then when alchemy runs it doesn't know what ingredient to use first and leaves it blank:

[alchemy]>count my first

[2021-02-11 18:03] #4722 closed

[2021-02-12 20:53] Kaesken opened #4733 "combat-trainer suggestion for "Pray" training ability"
Sorry, I'm still learning how to do this github stuff!  I hope you guys don't mind me slapping this right here.  :)
Okay, so some of my characters I keep to RP and my clerics prefer specific gods so I thought, instead of having her "pray Meraud" when she prefers Ushnish, I would make a suggestion to change it to use the favor_god from the yamls.  I went ahead and had my cleric pray to each of the

[2021-02-12 20:58] Dartellum commented on #4697
I have the fix. PR is

@jandersson Parry sticks are workorders: false
[code]

Fix is in slack_tub function. Added `'doesn\'t appear suitable for working'` to catch.

[2021-02-12 21:08] Dartellum commented on #4721
I have a PR in for chapter 8 weapons. I can go through and make one for chapter 4 - complete the missing ones.

[2021-02-12 21:25] #4697 closed

[2021-02-15 17:50] Dartellum commented on #4728
The code has not changed in years for red|blue flowers and the handling of them. However, other weirdness has happened. I will take a look and see if I can resolve this soon. No promises on time, I have several other updates and enhancements in the works.

[2021-02-15 18:01] Dartellum commented on #4728
Also,
[code]
Not sure how you are doing workorders of this recipe unless you changed it to true in your base-recipe file.

I can put some time into trying to fix it but I could not a long time ago and made the recipe **false**.

[2021-02-15 19:26] Dartellum commented on #4728
Try making `blue flowers` to `blue flower`. Worked for me when I removed the "s". Also, are you using the override to attempt this recipe?

[2021-02-16 21:52] rcuhljr commented on #4478
Once month reminder until everything breaks.

[2021-02-16 22:41] rpherbig commented on #4478
@jandersson @KatoakDR @BinuDR @jayRyan24 could one of you take a swing at this?

[2021-02-17 00:38] jayRyan24 commented on #4478
Yeah I can.

[2021-02-17 01:59] BinuDR commented on #4478
@rcuhljr There's a 25th anniversary of DR event going on right now and it includes a free month resub code!  Come back for a month! :-)

https://www.play.net/dr/promo/reactivate/home.asp?offerCode=DRBACKAFTER6

[2021-02-17 14:50] #4478 closed

[2021-02-17 16:35] rcuhljr commented on #4478
:ackbar:

[2021-02-26 15:01] Dartellum commented on #4728
I fixed this with PR4761.  Please close this issue.

[2021-02-26 15:03] Dartellum commented on #4721
I have all weaponsmithing, armorsmithing, blacksmithing, carving, and shaping recipes in base-recipes now and confirmed. No duplicates. I have not made a PR for it yet as I am working through the other recipes in the file and adding tinkering.

[2021-02-26 15:08] Dartellum commented on #4681
https://elanthipedia.play.net/Lich_script_repository#combat-trainer has this information in it.

[2021-02-26 15:15] Dartellum commented on #4301
Was this resolved? From the first part of the log it looks like the burin already had something on it. Did you move to your crafting room or trying to use the Society’s?

[2021-02-26 15:16] Dartellum commented on #4285
Was this resolved with PR 4393? Can we close this?

[2021-02-26 15:20] Dartellum commented on #4187
Can we close this issue?

[2021-02-26 16:07] rpherbig commented on #4728
Fixed in #PR4761

[2021-02-26 16:07] #4728 closed

[2021-02-27 02:00] cfrisby77 commented on #4285
I cannot recall, but i think so.

On Fri, Feb 26, 2021 at 10:16 AM Dartellum <notifications@github.com> wrote:

[2021-02-28 08:55] Kaesken commented on #4187
Oops, sorry.  I totally forgot about this.  Closing!

[2021-02-28 08:55] #4187 closed

[2021-02-28 13:09] #4285 closed

[2021-03-06 20:27] Breubor opened #4785 ";outdoorsmanship not releasing symbiosis"
I've been getting a lot of backfires lately on an alt and I've tracked it down to ;outdoorsmanship.

During ;outdoorsmanship the script will train magics using crafting_training_spells:, and if the script ends in the middle of the prep it will release the spell prep, release harnessed mana... but not release prep symbiosis.

If your next script in ;t2 is, lets say, ;buff, where you are buffing wit

[2021-03-06 21:50] Sarvatt commented on #4785
The outdoorsmanship script is called multiple times in quick succession from other scripts, it would need some kind of state tracking between scripts or else you will release twice and lose your symb completely

[2021-03-06 22:44] Breubor commented on #4785
Yes I apologize.  I just looked closer at the outdoormanship script and noticed this issue alert at the bottom (https://github.com/rpherbig/dr-scripts/issues/3141).  I'm going to close this issue out, because it is working as intended.

[2021-03-06 22:44] #4785 closed

[2021-03-18 20:10] Dartellum commented on #4721
I am still working through the list. See the PR4778 for what is already completed.

[2021-03-22 00:32] Nyctus opened #4833 "appraisal.lic missing match strings related to getting/stowing weapons from a weapon harness"
**Summary:**
When appraisal.lic pulls a weapon [diamondwood staff] from a weapon harness [embossed weapon harness] the messaging begins with "You deftly remove." This string does not appear to have a match that the script is listening for and so the script times out waiting for a matching string.

**Note:**
I encountered this issue on my Moon Mage.

**Repro:**
1. obtain an embossed weapon harness

[2021-03-22 00:34] BinuDR commented on #4833
Are you a warrior mage by chance?

[2021-03-22 00:34] Nyctus commented on #4833
Moon Mage, sorry for leaving that out. I'll go mention it in the bug. Also, where can I get you the version info if needed?

[2021-03-22 00:35] BinuDR commented on #4833
It's fine, I'll fix the script.  I know some spells alter the wield/sheath messaging.  Can you also show me message for sheathing the staff?

[2021-03-22 00:36] Nyctus commented on #4833
Sure thing!
[code]

[2021-03-22 00:36] BinuDR commented on #4833
Thanks

[2021-03-22 00:49] Nyctus commented on #4833
I am beginning to wonder if this is just a verby harness, here's the remove/wear text for the harness itself, which also caused some issues (I can write a separate bug for that if you like)

[code]

And here's the full name of the harness and epedia link:
**TAP** embossed weapon harness
**Full description:** A murder of crows are spread along the narrow harness in various stages of flight, their s

[2021-03-22 01:37] BinuDR commented on #4833
Have you had any script try to remove or wear the harness and hang?  If so, let me know which scripts.

[2021-03-22 02:13] Nyctus commented on #4833
appraisal.lic hangs when removing and I think wearing it.

I'll keep an eye out for others. Let me re-generate the errors and post them here.

**Removal**:
[code]
[code]

**Wear**:
[code]
[code]

[2021-03-22 04:46] Nyctus commented on #4833
**combat-trainer**

[code]

[2021-03-22 04:55] BinuDR commented on #4833
Copy the file I edited over yours, run `;common-items`, and try again and see if this fixes this issue.  Here's a direct link to the edited version.

https://raw.githubusercontent.com/rpherbig/dr-scripts/423e9c22b83413a569ca6814cd984931ccac8a05/common-items.lic

For the other issue I'm going to need a harness to test with.

[2021-03-22 07:51] Nyctus commented on #4833
I might have extras with the same verbs, I can try to meet you in-game tomorrow after work (19:00 PDT)

Testing your change now!

[2021-03-22 08:11] Nyctus commented on #4833
I tested the changes to common-items.lic by overwriting and re-saving my local file but I ran into matchwait issues in appraisal.lic both when removing/equipping the harness and when retrieving/stowing the staff it was holding. (same as original issue)

Checked and I sadly I do not have a duplicate of this verby harness. I can lend it to you tomorrow and in the meantime I've swapped to a harness t

[2021-03-22 16:04] #4833 closed

[2021-03-26 20:31] ubiquitous42 opened #4842 "clerk-tools for enchanting in Shard does not function"
Having a problem with clerk-tools in Shard.  The data in base-crafting isn't helpful for Enchanting in Shard. It's trying to go to Ylono to access the tools instead of the engineering shop's clerk.

[2021-03-26 20:36] ubiquitous42 opened #4843 "enchant - Imbue charges/harnesses twice the expected amount"
With the following setup, `enchant` preps at 15, charges with 45, then harnesses 45:
[code]
 I believe this may be due to find_charge_invoke_stow being called inside of crafting_cast_spell, so it's overall called twice.

[2021-03-27 22:18] CunningRunt opened #4846 "Manipulate Missing Match for Failed Critter ID"
Example 1:

[code]

Example 2:

[code]

Looks like primary cause is mixed named mobs, i.e. cutthroat, ruffian, thug, etc. all mixed together.  Could just use a bypass with the match to "Manipulate what?"

[2021-03-28 11:24] #4842 closed

[2021-04-06 06:11] KatoakDR opened #4864 "[script] [combat-trainer] Does not recover weapon that's dropped due to loss of arm/hand"
### Background
* Reported by [oflimiteduse](https://discord.com/channels/745675889622384681/745675890242879671/828608083701137439) in the Lich discord
* Character is not picking back up their weapon after dropping it due to losing a arm/hand due to sorcerous backlash.
* In this case, the character is an empath who stays in combat because can self-heal but combat-trainer continues to try to attack

[2021-04-06 06:17] KatoakDR opened #4865 "[script] [combat-trainer] Not hiding before attempting to backstab"
### Background
* Reported by [Skinz](https://discord.com/channels/745675889622384681/745676367663988948/828762002586337320) in the Lich discord
* Player is using StormFront with Lich
* Character is attempting to backstab when they are not hidden and getting error "You must be hidden to blindside."

### Expected Result
* combat-trainer hides before attempting to backstab
* combat-trainer re-attempt

[2021-04-06 06:31] KatoakDR commented on #4846
Thanks for the bug repot and game log -- I've submitted a fix

[2021-04-06 06:34] KatoakDR commented on #4733
Hi Kaesken, thanks for the suggestion, background, and the code for your idea 👍

I'll work on getting a code change submitted on your behalf, thanks

[2021-04-06 13:53] #4846 closed

[2021-04-06 15:40] wstampley commented on #4864
I'm really curious why the logic in combat trainer isn't stashing the weapon for sorcery automatically. It looks coded to do it.
[code]

[2021-04-07 02:46] Nyctus opened #4867 "Bescort ways - A rare message can stall ;bescort when attempting to leave the first room upon entering the Ways"
Repro:

1. Use ;bescort to enter the Ways toward any valid destination
2. Observe the script as it exits the first room after being pulled through the unstable moongate

Results:
Very occasionally a failed skill check results in the message "You end up walking in circles" and bescort will stall.

Expected:
When "You end up walking in circles" appears upon leaving the first room of the Ways, bescor

[2021-04-07 04:43] KatoakDR opened #4868 "[script] [combat-trainer] Sometimes misidentifies what ammo was shot and fails to pick it up"
### Background
* Reported by [MulletByNature](https://discord.com/channels/745675889622384681/745678330933805157/829184672805290034) in the Lich discord

[code]

### Expected Result
* combat-trainer pick up the Sunderstone `shard` that was shot

### Actual Result
* combat-trainer tries to pick up `spine`, which the regex matched from `spine-rattling strike`

![image](https://user-images.githubuser

[2021-04-07 04:50] KatoakDR opened #4869 "[script] [crossing-training] Intermittently hanging when try to start attunement script after athletics"
### Background
* Reported by [Aleximarus](https://discord.com/channels/745675889622384681/745678330933805157/829122073326649415) in the Lich discord
* Player is experiencing issue with `crossing-training` script transitioning from `athletics` to `attunement`.
* The `attunement` script says it starts, but player has to `;force attunement` for it to actually start moving.
* Game log, https://pastebi

[2021-04-07 05:02] KatoakDR commented on #4843
@ubiquitous42 I think you've found a bug 🐞

In `enchant.lic`, if you remove line 127 where it calls `find_charge_invoke_stow` does that resolve your problem?

[2021-04-07 14:12] KatoakDR opened #4871 "[script] [combat-trainer] Doesn’t stow ammo if “Face what?” message appears first"
### Background
* Reported by [MulletByNature](https://discord.com/channels/745675889622384681/745678330933805157/829244071401750548) in the Lich discord

[code]

### Expected Result
* combat-trainer to pick up ammo if indeed you shot, despite the game sending messages back out of order

### Actual Result
* combat-trainer sees “Fade what?” message first and assumes you didn’t fire and so doesn’t tr

[2021-04-08 03:45] ubiquitous42 commented on #4843
Yep, without that line it only does it once.

[2021-04-08 06:11] KatoakDR commented on #4867
Add link to discord conversation, https://discord.com/channels/745675889622384681/745676101392793651/828436928629047296

[2021-04-08 23:14] #4868 closed

[2021-04-09 04:03] KatoakDR opened #4877 "[script] [combat-trainer] Sometimes misidentifies what ammo was shot and fails to pick it up"
### Background
* We had to revert https://github.com/rpherbig/dr-scripts/pull/4870 which resolved https://github.com/rpherbig/dr-scripts/issues/4868, so opening issue again. Try try try again 😬
* Reported by [MulletByNature](https://discord.com/channels/745675889622384681/745678330933805157/829184672805290034) in the Lich discord

[code]

### Expected Result
* combat-trainer pick up the Sunderston

[2021-04-09 14:35] wstampley commented on #4877
Does adding a whitespace after the ammo matcher fix this for most cases?

[code]

That causes it to ignore 'spine-rattling'. not sure about any other complications, but most ammo nouns should be followed by a space in normal usage.

[2021-04-09 16:32] rcuhljr commented on #4865
It's probably useful to get the users yaml for situations like this where they've misconfigured something, this seems very likely to be them setting an attack override to backstab instead of use_stealth_attacks.

[2021-04-09 16:41] rcuhljr commented on #4877
You could also just exclude periods from the allowed characters in the `(?:.*\s)?` using negation, `[^\.]*` or something similar. A similar approach would be to split the message on period before doing the regex match and only matching against the first sentence in the result.

[2021-04-09 19:34] wstampley commented on #4877
I really like the negation idea to get it to stop the greedy grab in the first sentence. Totally escaped me as I was poking at it earlier.

It also seems like we really need a unit test style framework in place for these super sensitive regexs with a collection of the 'weird' cases people know about. Not sure if lich unit testing is a thing I don't know about, or if it's been tried before, etc.

[2021-04-11 00:02] KatoakDR opened #4879 "[script] [crossing-repair] Add option to repair only periodically"
### Background
* The `training-manager` script supports `repair_timer` yaml config to limit calling `crossing-repair` only after that many seconds has elapsed.
* Players who use T2 would like the same functionality.
* See [converation](https://discord.com/channels/745675889622384681/745678330933805157/830503081933668383) in the Lich discord

### Requested Changes
* For compatibility with `training

[2021-04-11 16:27] KatoakDR commented on #4879
PR in progress

[2021-04-11 17:27] #4843 closed

[2021-04-12 15:06] rcuhljr commented on #4877
We have some [tests in place](https://github.com/rpherbig/dr-scripts/tree/master/test) but there's a lot of room for improvement. You've got two reasonable approaches that aren't massive undertakings.

1. Extract regexes to a common or data file, have scripts pull them from there and write unit tests around known problematic strings for each regex.
2. Move class AttackProcess to it's own script fi

[2021-04-12 15:29] KatoakDR commented on #4877
Thanks for the link to the tests -- I'll definitely use those to help validate the regex changes since they're critical.

I've been tinkering with the regular expression at https://regex101.com/r/lByakC/1/

[2021-04-12 15:53] KatoakDR commented on #4871
Tackling this in tandem with https://github.com/rpherbig/dr-scripts/issues/4877

[2021-04-12 15:54] rcuhljr commented on #4877
`Driving in with exacting precision, you fire a bacon strip at a ship's rat.  A ship's rat attempts to dodge, leaning wrong and blundering into the blow.` Glad to see the game is keeping it serious :P

[2021-04-12 16:02] #4867 closed

[2021-04-12 16:59] rpherbig opened #4888 "Prepare to move this repo to the dragon-realms organization"
I'm thinking of this process:

1. Update `dependency` to handle a fallback URL (see https://github.com/rpherbig/dr-scripts/blob/6c4f93716cbd1047f51fef1b542b91f1f01b92e0/dependency.lic#L161-L162) - the primary would be this URL, the fallback would be https://github.com/dragon-realms/dr-scripts/
2. Wait a while for the change to propagate (two weeks?)
3. Move the repo
4. Update the 'new' repo to no

[2021-04-12 20:41] KatoakDR commented on #4888
Woo hoo! Moving to an organization will unlock a lot more capabilities for maintaining this open source project.

One of which I'm excited about is ability to grant folks [triage access](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization) so that they can manage issues and pull requests without write access.

[2021-04-12 21:15] KatoakDR commented on #4869
Closed via https://github.com/rpherbig/dr-scripts/pull/4884

[2021-04-12 21:51] wstampley commented on #4877
Uh oh @KatoakDR - https://github.com/rpherbig/dr-scripts/blob/master/test/test_check_health.rb!

[2021-04-13 17:04] #4865 closed

[2021-04-15 00:08] rpherbig commented on #4888
From @BinuDR :

I like the idea

[2021-04-18 21:18] fix-little-things opened #4908 "Alchemy.lic DRCC.find_press_grinder_room(@press_location) requires empty room"
DRCC.find_press_grinder_room(@press_location)

Will go to the society and find the grinder room, but will abandon the room if someone is in it.  This isn't necessary as the press and grinders can be used simultaneously by multiple people without causing issue (unlike an anvil or crucible, for example).

Can this be changed to ignore the presence of people in the press/grinder room?

[2021-04-19 02:07] KatoakDR opened #4911 "[script] [combat-trainer] Not unloading and stowing weapon when get "There's no room in the harness" message"
Reported by [DMAN](https://discord.com/channels/745675889622384681/745675890242879671/833510543222243399) in the Lich discord

[2021-04-19 02:08] KatoakDR commented on #4911
This might be a missing match string in the `unload_weapon` method in `combat-trainer`, at least that's a good place to start looking for where to apply a fix.

[2021-04-19 02:16] KatoakDR opened #4912 "[script] [combat-trainer] [barbarian] Prematurely stows second weapon after maneuver doublestrike, breaking whirlwind"
Reported by [Sharkbait](https://discord.com/channels/745675889622384681/745675890242879671/832693774672068648) in the Lich discord

And corroborated by [Reveler](https://discord.com/channels/745675889622384681/745675890242879671/832896713328295957)

[code]

[2021-04-21 03:26] Nyctus opened #4914 "Restock.lic reads incorrect adjective off fest pack resulting in a malformed "rummage" command"
**Summary**:
The item "sleek shadowy black Elothean silk pack stitched with pale ghostflowers" is an unusual festival back-worn pack with a two-word adjective. The pack responds to tap via "tap shadowy pack" and not "tap black pack." Restock.lic appears to be automatically reading "black" as the adjective instead of "shadowy" when it goes to rummage which causes that command to fail.

**Repro**:
1

[2021-04-21 03:38] KatoakDR commented on #4914
Thanks for the well documented issue. Will get this fixed soon!

[2021-04-21 04:31] KatoakDR commented on #4914
Lengthy conversation in Lich discord about how to solve (or not) this issue at https://discord.com/channels/745675889622384681/745676101392793651/834255065111068723

TL;DR
- Simplest approach, don't use odd 3-word containers for items you replenish via `restock`.
- We modify `restock`'s `count_nonstackable_item` method to split the "container" name by spaces and only use the first and last words.

[2021-04-26 17:14] #4912 closed

[2021-04-26 17:34] #4879 closed

[2021-04-27 10:53] Ghostthief opened #4924 "Request Combat-trainer KEEPSAKE box compatability"
Keepsake/jewelery boxes seem to be usable at melee so a quick single use on a timer of less than 120 seconds should exibit some alternative to the OLD pets boxes

[2021-04-27 13:34] KatoakDR commented on #4924
Link to discord conversation, https://discord.com/channels/745675889622384681/745675890242879671/836443866814742539

[2021-05-02 20:47] KatoakDR commented on #4351
This issue has been resolved by:
* https://github.com/rpherbig/dr-scripts/pull/4690
* https://github.com/rpherbig/dr-scripts/pull/4682

Thank you

@rpherbig this may be closed

[2021-05-02 20:52] KatoakDR commented on #4316
This issue was fixed by:
* https://github.com/rpherbig/dr-scripts/pull/4799

Thank you

@rpherbig this may be closed

[2021-05-02 20:54] KatoakDR commented on #4198
Same issue as #4316

This issue was fixed by:
* https://github.com/rpherbig/dr-scripts/pull/4799

Thank you

@rpherbig this may be closed

[2021-05-02 20:55] KatoakDR commented on #2552
Same issue as #4316

This issue was fixed by:
* https://github.com/rpherbig/dr-scripts/pull/4799

Thank you

@rpherbig this may be closed

[2021-05-03 13:20] #4316 closed

[2021-05-03 13:20] #4198 closed

[2021-05-03 19:56] #2552 closed

[2021-05-03 19:57] #4351 closed

[2021-05-05 20:42] wstampley opened #4948 "bescort ice-skate error handling"
There are some unhandled edge cases in bescort for the ice road -

in this case, there was a YAML issue parsing the footwear property, so it didn't take my boots off, got an error message trying to put the skates on, and then never noticed the failure messages / falling over to switch to slow mode.

At least catching that you can't put on the skates seems like it would be an easy fix.

--- Lich: b

[2021-05-08 19:32] fix-little-things commented on #4908
PR submitted - change is to simply use walk_to as any old press grinder room will work lmk what you think

[2021-05-12 07:38] Kaesken commented on #4948
Do you have "footwear:" set?

[2021-05-12 13:49] Hiinky commented on #4948
Long as you do the fix within bescort and not on the mapdb, should be. No touching the map!

[2021-05-12 14:46] wstampley commented on #4948
I did have footwear: in my YAML, but I had a typo elsewhere that prevented the settings from loading correctly. That's why I was thinking bescort could at least recognize the failure to put skates on and act accordingly.

[2021-05-13 13:39] Kaesken commented on #4948
Yeah, would be nice for an error to trigger at "You can't wear any more items like that." to state that the skates were unable to be worn then go to collecting rocks while walking the mountain instead of running it as if you had skates on.
While talking about bescort, would also be a nice suggestion to give for when a person starts go2 in the middle of the ice path that it checks whether or not yo

[2021-05-18 01:18] vtcifer opened #4958 "Deprecated ostruct method in use in dependency.lic"
As of 2.4.0 (ruby/ruby@7c89ca5) an internal OpenStruct method (`modifiable`) made private, but that commit also aliased the old method the new public method.
Those aliases were removed in 2.7.0 (ruby/ruby@dbcc224)

This breaks this line of code:
https://github.com/rpherbig/dr-scripts/blob/56d3afd732fa8390057f14e4054a370b8adf30bc/dependency.lic#L140

Most people should be on a higher version than 2

[2021-05-18 06:18] rcuhljr commented on #4958
Seems like a reasonable fix, surprised this risk never manifested sooner with us doing hackery like reworking ostruct. If we don't find a tester in a few days running a ruby version that old I'm of the inclination to ship it and wait to hear if problems arise.

[2021-05-18 06:29] rcuhljr commented on #4958
Alternate fix, are people even using this functionality any more? I think this may have just been me being too clever and maybe it should be up to scripts consuming the settings to use something more idiomatic like `settings.money_on_hand || 100`. You'd lose the warning unless you added it manually, but we could also just monkey patch in a clean method to ostruct `def fetch(setting, default)` that

[2021-05-18 16:54] vtcifer commented on #4958
It impacts flex_args, which is used a lot in combat-trainer / hunting-buddy.  I really  don't have enough ruby knowledge to know what all the downstream impact of reworking that code to get rid of ostruct.

[2021-05-18 18:01] rcuhljr commented on #4958
Sorry, not removing ostruct, just removing our custom override here that allows you attempt to retrieve a field from ostruct while providing it a default value to fallback on if it doesn't exist. This override of member_missing is all in support of

[code]
Where we allow you to call `settings.some_value(a_default_to_return_if_not_found)`

[2021-05-19 12:52] vtcifer commented on #4958
Yeah, way beyond my ruby knowledge/expertise, I'd really defer to someone with more experience.

[2021-05-21 13:45] wstampley commented on #3199
This is handled by the current version of `;locksmithing`, so this issue can be closed - @rpherbig

[2021-05-21 13:48] wstampley commented on #2663
The `;afk` script will pick up items when you attempt to leave them behind, and many people run it as an autostart. @rpherbig - this can probably be closed.

[2021-05-21 13:49] wstampley commented on #2597
@KatoakDR - Didn't you recently fix this?

[2021-05-21 13:49] wstampley commented on #2553
@rpherbig - This is a configuration issue, not a code one, and should be able to be closed.

[2021-05-21 13:50] wstampley commented on #2255
@rpherbig - Since pet boxes don't teach anymore, we can probably close this issue.

[2021-05-21 13:54] wstampley commented on #1421
With picking only granting xp on success, I think this can be closed (as spamming pick blind just wastes time). @rpherbig

[2021-05-26 18:19] #1421 closed

[2021-05-26 18:19] #2553 closed

[2021-05-26 18:19] #2663 closed

[2021-05-26 18:20] #3199 closed

[2021-05-26 18:20] #2597 closed

[2021-05-26 18:21] #2255 closed

[2021-05-27 14:36] wstampley opened #4972 "Sell Loot Metals/Stones Matches Deeds"
[code]

[2021-05-27 14:42] KatoakDR commented on #4972
Thanks for reporting this

[2021-05-28 01:49] Donntae opened #4973 "Dire Bears in base-hunting.yaml"
After the recent changes, room 1578 is listed as a hunting room for dire bears, but it seems only silverback bears spawn there. Requesting deleting that room the dire_bears section of base-hunting.yaml.

Thanks!

[2021-05-29 02:31] #4973 closed

[2021-06-01 12:54] #4864 closed

[2021-06-03 03:13] MrQuosig opened #4985 "Adding Juggernauts to base-hunting"
Add these to the shard part of base-hunting. They map fine, only have 4 rooms and might blow you up, but hey maybe they are interesting.

#https://elanthipedia.play.net/Dragon_Priest_juggernaut
# CAUTION: Must periodically disarm orb or the special attack kills you. Add disarm orb: 60 (or less) to buff_nonspells:
juggernauts:
 - 4548
 - 4552
 - 4551
 - 4550

[2021-06-03 13:50] Stormsocks opened #4987 "Craft uses safe_room instead of trade-specific rooms."
;craft currently uses your safe_room instead of your yaml-specified room for alchemy, enchanting, engineering and outfitting.

While this probably doesn't cause many issues for three of the four trades, enchanting will bug out if someone is trying to use enchanting_room: xxxxx to use a society brazier.

I propose removing this line:

    @training_room = (@settings.training_rooms || [@settings.saf

[2021-06-03 14:57] Stormsocks commented on #4987
It has been brought to my attention that setting this to use one specific room could cause issues when there is another person already using the brazier.  Would probably have to set it up to find an unoccupied brazier room instead.  I have picked up a brazier, so I no longer personally need this.  May want to visit possibilities for using a society brazier for others who are new to the skill, thou

[2021-06-04 07:10] KatoakDR commented on #4972
I haven't forgotten about this, it's on my todo list

[2021-06-05 02:37] #4871 closed

[2021-06-05 02:37] #4877 closed

[2021-06-05 05:41] KatoakDR commented on #4972
@wstampley I created https://regex101.com/r/5lFgKc/1 to test out the regex matching to the rummage info you provided but it's not matching the deeds.

Is there any other info you can provide for how I could test/reproduce this?

Thanks

[2021-06-05 05:44] KatoakDR commented on #4972
Well, I realize now that the rummage info you shared was you searching and showing your deeds. Was the original rummage when the sell-loot script run something like this:

[code]

Because if so, then I do see how that'd match.

[2021-06-05 05:56] KatoakDR commented on #4972
Updating the regex to explicitly specify the nugget/bar sizes seems to resolve the issue: https://regex101.com/r/5lFgKc/3

[2021-06-05 07:09] KatoakDR commented on #4972
Here's where I'm at with refactoring the `sell_metals_and_stones` method in `sell-loot`:

[code]

[2021-06-05 11:51] wstampley commented on #4972
Not sure if this is helpful:

[code]

[2021-06-05 23:24] KatoakDR commented on #4972
Yes, thank you, that's very helpful and definitely pin pointed where the issue was :)

[2021-06-10 20:58] #4914 closed

[2021-06-11 15:28] #2439 closed

[2021-06-14 19:47] Donntae opened #5012 "safe-room does not release rf before lying down to heal"
In some instances, safe-room does not release refractive field before lying down for the autoempath.

Log: [https://pastebin.com/F9fA41PG](https://pastebin.com/F9fA41PG)

[2021-06-17 14:43] #4911 closed

[2021-06-22 15:49] RyanEOD opened #5032 "War Stomp addition to training-manager"
Now that War Stomp is available to all 100+ Barbs, any thoughts to allowing it to be used in training manager via a yaml setting possibly? I search around and I don't see if it is already useable, or any settings that apply, so I'm sorry if it is already available.

Thank you!

- https://elanthipedia.play.net/War_stomp

[2021-06-23 00:32] KatoakDR commented on #5032
In your `buff_nonspells` you can periodically perform any action you'd like. If, for example, to perform stomp is `stomp` command, then you could have:

[code]

[2021-06-29 11:40] vtcifer commented on #1291
Should be closed by #3992

[2021-07-03 14:05] #1291 closed

[2021-07-04 03:31] KillashandreaDR opened #5061 "Soul Attrition breaks Lich"
Casting of Soul Attrition by any means (via a script, or just simply manually) seems to break Lich from being able to see ANY game inputs whatsoever.

I have seen this behavior happen on ANY script the moment I cast the spell.  Almanac, Pick, Sanowret, go2, listen, jail-buddy, even some custom/personal ones I created myself.  I first noticed it obviously in combat, but I did testing outside of com

[2021-07-04 12:15] rpherbig commented on #5061
@KatoakDR @vtcifer @Dartellum would one of you have a minute to look into this?

[2021-07-04 13:33] vtcifer commented on #5061
If I had to guess with no logs, most likely cause is FUBAR combat window XML, and something that GMs would probably need to fix.  I'm not sure logxml would even help here if it's a problem caused in core lich.  Possibly would need a raw packet capture to diagnose.

[2021-07-04 16:14] KatoakDR commented on #5061
I don’t have a Cleric to test with. @wstampley may be able to help test, too.

@KillashandreaDR Would you please run the `echo` script then cast Soul Attrition spell to reproduce the issue? The `echo` script will create a file in your Lich folder named `echo_log_room.txt`. Please attach that file in a follow up comment here.

To VTCifer’s point, if core Lich is borking then the log capture may not

[2021-07-04 16:55] Dartellum commented on #5061
This goes back to the combat window implementation. I game the spell and it is working for me.

<details>
<summary>:floppy_disk: Log of successful Soul Attrition</summary>
[code]
</details>

;tldr - Game window works for me. @KillashandreaDR do you know if you updated to the latest version of lich? Are you on the DR fork?

[2021-07-05 05:55] KillashandreaDR commented on #5061
Ok, I'll do the tests you mentioned and post the file here.

I haven't updated Lich in awhile, so I will try that FIRST before anything else..  I'll also try that.  And sorry, but I don't know what DR Fork is.

[2021-07-05 06:28] KillashandreaDR commented on #5061
ok, actually it appears I was up to date on Lich.

So I did the echo test.  In this one I cast SA, then started up Sanowret.  It tapped my crystal, but then determined it couldn't find it when BPUT timed out.
[echo_log_room.txt](https://github.com/rpherbig/dr-scripts/files/6762187/echo_log_room.txt)

[2021-07-05 16:20] Dartellum commented on #5061
`;e use_lich_fork` at the comand line. `;e echo LICH_VERSION` for the version of lich. You should have 4.13.4f.

[2021-07-05 16:38] KillashandreaDR commented on #5061
Ok, that appears to have fixed it.  Switching to fork, and now the scripts operate after casting SA.

Thank you all for the support.

[2021-07-05 16:41] #5061 closed

[2021-07-05 16:49] Dartellum commented on #4340
I will work through this as I update all the recipes. I am getting closer to done. I will also work through each of these recipes to make sure the noun setting is correct. I see many nouns as bone totem but most are `workorders: false` so no one should encounter them doing workorders. :smile:

[2021-07-07 23:57] #4958 closed

[2021-07-08 10:05] #3202 closed

[2021-07-10 05:48] KillashandreaDR opened #5071 "Suggestion - Craft Script (Enchanting) - Check for ingredients before purchasing"
I was wondering if we could get the craft script rewritten to check for enchanting ingredients in the designated storage container before purchasing new ones.

I don't know how many times I have had to abort the craft script after it buys one or more ingredients but before it starts the enchanting process, and then I get stuck with a whole bunch of sigils stored in my backpack.  In order to clear

[2021-07-10 07:04] nro2 opened #5072 "Khris hanging in common-arcana"
Been seeing this issue since 7-9.  Possibly related to #5025

--- Lich: buff active.

[buff]>Khri Avoidance Steady Prowess Sagacity Elusion

Drawing upon the intense training of your dedicated mind, you take hold of a myriad of meditative states at once.  Each builds upon the last, augmenting your abilities to new heights.

Taking a deep breath, you focus on making your mind and body one, your men

[2021-07-10 11:16] rpherbig commented on #5071
@Dartellum - interested in doing this?

[2021-07-10 11:21] rpherbig commented on #5072
@wstampley can you take a look at this?

[2021-07-10 14:07] wstampley commented on #5072
It's almost certainly that the version of Ruby being used is too old. There should be a warning from dependency each week to that effect.

To verify, you can run `;e echo Gem::Version.new(RUBY_VERSION)`.

If that is older than 2.5.5, instructions for updating are found here: https://discord.com/channels/745675889622384681/745683568231055471/863130628760666142

[2021-07-10 14:08] wstampley commented on #5072
The same issue was found by another player on 2.0.0 yesterday, https://discord.com/channels/745675889622384681/745678330933805157/863112796236808252

[2021-07-10 14:11] wstampley commented on #5072
More info can be found here: https://apidock.com/ruby/v2_5_5/Enumerable/none%3F

It looked like `.none?` was always available, but the specific overload that this is calling `.none?(pattern)` was added in 2.5.5.

[2021-07-10 14:20] wstampley opened #5073 "Update to Support Trader Tessera Changes"
A recent Tuesday Tiding significantly changed how the Tessera works. Something something space alien loan sharks?

https://discord.com/channels/745675889622384681/745683361841807390/862146613400305704

Lexa asked if we would be updating crossing-training.lic to accomodate the new tessera system.

Current stuff in crossing-training.lic:
[code]

 Log from her trader messing with the new tessera proc

[2021-07-10 15:54] bastionwt commented on #5072
Is there a reason a Ruby version upgrade is being forced on players? That runs counter to previous development trends on Lich.

[2021-07-10 16:03] nro2 commented on #5072
;e echo Gem::Version.new(RUBY_VERSION)

--- Lich: exec1 active.

[exec1: 2.4.5]

Could very well be it.  I will update and report back.  Thanks for the replies!

[2021-07-10 16:33] nro2 commented on #5072
Yeah updating ruby fixed it.  Thanks everyone!

[2021-07-10 16:33] #5072 closed

[2021-07-10 16:40] Dartellum commented on #5071
I can add to my list. I still need to finish the base-recipe fix and restock fix.

[2021-07-11 00:38] wstampley commented on #5072
There was a public discussion amongst the active developers in discord that there needed to be some established (and moveable) minimum version in order to make it maintainable over time. That minimum was set at the current all-in-one installer's version of 2.5.5.

Testing scripts (for issues like the one above) becomes nearly impossible if we support "all" versions of Ruby.

I don't expect that it

[2021-07-11 02:07] robbintt opened #5075 "Add spell stances to buff scripts and yaml entries"
Spell stance can make a big difference but varies based on the spell. This is a good opportunity for the buff yaml options.

[2021-07-11 02:29] KatoakDR commented on #5075
I could see a few ways this could be implemented based on what I've read on the [wikk](https://elanthipedia.play.net/Spells_command):

Specify the stance name and use whatever you've configured that to be:
[code]

Specify the stance numeric values for granular control:
[code]

We'd also need to introduce a `default_spell_stance` similar to `default_stance` for evasion/shield/parry.

[2021-07-11 02:33] wstampley commented on #5075
I'm not against this, but you can easily do it with before and afters on spells today.

[2021-07-11 02:36] KatoakDR commented on #5075
I forgot about the before/after, neat! I think you also have to provide some match strings, too, to avoid a timeout on bput? Looks like the 'before/after' are done as `DRC.bput(action['message'], action['matches'])`

[2021-07-11 02:37] KatoakDR commented on #5075
I think the before/after could be a workaround for now. If there's more demand for customizing spell stances per spell I'm a fan of making it easier for folks to configure so a single `stance:` property on the spell helps.

[2021-07-11 02:53] wstampley commented on #5075
I don't have any matches on mine and they seem to work? Don't know.

[code]

[2021-07-11 04:02] KatoakDR commented on #5075
Interesting.... thanks for sharing the config

[2021-07-11 17:05] Fugazz1 commented on #5073
Saved a copy of crossing-training as crossing-trainingTest, crossing-trainingTest will not be overwritten/updated.

Edited line 300 to: `bput('ask tessera about invest', '^... STANCHION-INVESTMENT-EXCHANGE DENIED', 'You send your')`

Crossing-trainingTest does ask tessera about invest.

Wasn't able to test `... STANCHION-INVESTMENT-EXCHANGE DENIED` messaging in place of `^The .+ tessera has alread

[2021-07-11 18:46] vtcifer commented on #5072
The same dependency update that institutes the warning also fixes a known dr-scripts incompatibility with ruby >=2.7.  I'm tempted to update the `help_me` method to call out in a highly visible manner the lower supported version, and lower the spam threshold from 7 days to 1 day as users seem to be ignoring the warning already.

I think we probably ought to move to >=2.7.x, but I also think that u

[2021-07-13 10:18] cfrisby77 opened #5087 "Sorter Error"
I got the error below from sorter when using pick.lic.

[2021-07-13 10:22] #5087 closed

[2021-07-13 10:22] cfrisby77 commented on #5087
NM, this was on a new character with no sorter settings in the yaml

[2021-07-13 12:42] rpherbig commented on #5087
We should probably make pick/sorter handle that a little better. What settings were you missing?

[2021-07-14 00:42] cfrisby77 commented on #5087
No settings for sorter were in that characters yaml. so what ever is in
base, if anything.

Sorter was is in my global autostart.

On Tue, Jul 13, 2021 at 8:42 AM Robert Herbig ***@***.***>
wrote:

[2021-07-14 13:45] vtcifer commented on #1276
@izawwlgood a framework for this is part of #5091.

Scripts can make use of it once it's tested and committed.

[2021-07-15 05:10] KatoakDR commented on #5012
Thanks for the log.

Do you know if you had `spellmonitor` script running at the time? The `safe-room` script only releases invisibility spells that it detects that are active, and we rely on `spellmonitor` for that info. Based on what I saw in the code and your log, my guess is that maybe `spellmonitor` wasn't running?

For good measure, you might try adding it as an autostart: `;e autostart('spe

[2021-07-20 20:41] Valherun commented on #5073
PR Request has been merged to fix this in both combat-trainer and crossing-training  - hopefully I didn't break anything to badly :)

[2021-07-21 00:02] KatoakDR commented on #5073
Thanks, @Valherun

@rpherbig I think this can be closed per https://github.com/rpherbig/dr-scripts/pull/5103

[2021-07-21 12:36] #5073 closed

[2021-07-23 21:13] cfrisby77 opened #5104 "go2 Therenborough to Riverhaven"
Go2 will take the rope south but not check perception and gets stuck on the handhold in Mistwood.

On this character, it takes the Ferry / Barge North.

I didn't get that far but I have a feeling I would have gotten stuck in the river if was able to get past the climbing part.
This is a new character
Perception: 106
Athletics: 85

[2021-07-28 03:20] vtcifer opened #5106 "dependency.lic does not handle case insensitively in windows environments well"
At _least_ `help_me` will fail to fetch character yaml files when the case does not match what is expected (character name being first letter capitalized, all others lower case).

[2021-07-28 04:30] classicfail opened #5107 "Errors running healme"
I keep getting this when I run healme.

[code]

[2021-07-28 13:20] vtcifer commented on #5107
Update your ruby version to the minimum supported version (2.5.5 at this time), as dependency should be warning you that you are on an unsupported version once a week on login.

[2021-07-28 13:58] classicfail commented on #5107
Oh.  Thank you; I hadn't updated because all my other scripts were working and I didn't want to break anything.

[2021-07-29 12:18] #5107 closed

[2021-08-01 12:16] #4138 closed

[2021-08-01 12:21] vtcifer commented on #4194
Officially not supporting ruby versions lower than 2.5.5 (#5048) means these kinds of StringProcs can be safely added back in (once the mapdb is unlocked again).

[2021-08-01 12:21] #4194 closed

[2021-08-02 01:09] wstampley commented on #5104
Yep. About once a month, more during guild-fest, someone gets stuck in that spot.

[2021-08-02 17:39] RyanEOD opened #5110 "Analyze busted?"
Looks like analyze isn't happy? I've had this happen a couple times in a row now -

Example 1:

[combat-trainer]>analyze

R> > >
The churning rage inside of you continues unabated.

[combat-trainer]>analyze

R>

--- Lich: error: undefined method `casecmp?' for "cleave":String
	combat-trainer:2994:in `attack_melee'
	combat-trainer:2972:in `execute'

--- Lich: combat-trainer has exited.

Example 2:

[2021-08-02 18:46] douglascayers commented on #5110
Hi, please see https://github.com/rpherbig/dr-scripts/issues/5107#issuecomment-888304278

[2021-08-02 19:11] RyanEOD commented on #5110
Well, looks like I need to update Ruby as I'm on 2.0.0. I'm out there Googling how to update, is that a good path forward or should I be following a certain set of steps? - Thank you!!

[2021-08-02 21:28] vtcifer commented on #5110
Are you not getting the warning 1x/week to upgrade, which links to the discord for help?

[2021-08-02 21:42] RyanEOD commented on #5110
Not that I've seen, I just opened my logs and I don't see anything. Now if it matters, I was using Genie with Lich, Glich if you will. I tried to follow the upgrade instructions here - https://gswiki.play.net/Lich_(software)/Installation and I seem to be all busted now -
File: C:\lich\temp\debug-2021-08-02-17-37-47.log
Line: 2021-08-02 17:37:47: info: Lich 5.0.14
Line: 2021-08-02 17:37:47: info: R

[2021-08-03 04:29] KatoakDR commented on #5110
Hi @RyanEOD, please see [these instructions](https://docs.google.com/document/d/1GE3Jqaly95CvzrZK3tSCKaqILy4Rj19pROXJCNTXG5M/edit) for how to upgrade Ruby, thanks

[2021-08-06 14:02] Dartellum commented on #1766
Resolved a long time ago. :)

[2021-08-06 14:02] #1766 closed

[2021-08-06 14:08] Dartellum commented on #4340
@KillashandreaDR
Did you mean `simple gwethsmasher` in chapter 2 or `a gwethdesuan` in chapter 5?

[2021-08-07 15:38] KillashandreaDR commented on #4340
Sorry been so long I don’t remember.  But since I wrote “simple” and based off of epedia and the components list, I am 99% sure I meant the smasher.

[2021-08-07 17:41] Dartellum commented on #4340
Okay fixed that one but it is set to false for workorders because one of the sigils, metamorphosis, is not store-bought. However, it will work for overrides now once the `base-recipes` PR is merged.

[2021-08-08 16:25] Dartellum commented on #4340
Fix for picking up the correct item. During testing, I had both ways, get my #{@item} and get #{@item}, retrieve the wrong item occasionally. This fix, https://github.com/rpherbig/dr-scripts/pull/5114, makes sure the item is picked up from the at feet location. Or, it did during my testing. I would like you to test it and report back. :smile:

[2021-08-08 18:35] Dartellum commented on #5071
See PR https://github.com/rpherbig/dr-scripts/pull/5115.

[2021-08-12 19:24] vtcifer commented on #5110
If the 2.5.5 upgrade has fixed can you close this issue?

[2021-08-12 19:29] RyanEOD commented on #5110
For sure, thank you!!

[2021-08-12 19:29] #5110 closed

[2021-08-13 15:03] Dartellum commented on #5071
@rpherbig This is resolved by the PR already merged.

[2021-08-13 16:13] rpherbig commented on #5071
Closed in #5115

[2021-08-13 16:13] #5071 closed

[2021-08-15 22:19] echo1432 opened #5134 "[;crossing-repair] nightsilk harness issue"
[crossing-repair: *** No match was found after 15 seconds, dumping info]
[crossing-repair: messages seen length: 6]
[crossing-repair: message: Naptaker Gram just arrived.]
[crossing-repair: message: There are 2 members in your group.]
[crossing-repair: message:   You (Leader): Healthy.]
[crossing-repair: message:   Sihu: Healthy.]
[crossing-repair: message: Members of your group:]
[crossing-repair

[2021-08-17 20:11] #5134 closed

[2021-08-24 07:01] mikejcook opened #5143 "combat-trainer.lic - issue with empath self-healing"
There's an issue where combat-trainer won't cast Empath healing spells when facing non-constructs/undead with the error message "Dropping spell: Offensive magic is not allowed right now..."

I tracked it down to the following issue:

In the method check_health_empath, the empath spells are created on the fly (objects are named "data"), but the harmless flag isn't set to true.

So, when we then hit

[2021-08-24 15:21] rpherbig commented on #5143
@Dartellum @vtcifer @wstampley @LuckyThiefDR @Hiinky @KatoakDR could one of you take a look at this?

[2021-08-24 17:05] vtcifer commented on #5143
I have no empath and am not really familiar with the specifics of their hunting, but a quick manual look at the code suggests that's probably the best immediate fix.  Empath healing only considers 3 spells, vh, foc, heal, all of which are harmless.  Anything else added to that shouldn't be used as far as I can tell.

A longer term fix might be merging with data from base-spells?

[2021-08-24 17:48] wstampley commented on #5143
I'll put in the quick fix for now. Merging with base-spells, and rewriting it to use the same healing waggle stuff as healme is probably all stuff on the future todo list.

[2021-08-24 18:03] wstampley commented on #5143
https://github.com/rpherbig/dr-scripts/pull/5144

[2021-08-24 20:03] #5143 closed

[2021-08-24 20:03] rpherbig commented on #5143
Thanks for the report @mikejcook !

[2021-08-25 03:24] mikejcook opened #5145 "base-spells.yaml / combat-trainer.lic - Heal not being cast as a buff"
With the metaspell Adaptive Curing, the Empath spell Heal may be cast as a buff - it will wait around without injuries to heal you when you are hurt. combat-trainer doesn't recognize the spell as a re-castable buff. I identified this filter as the fail point:

.select { |_name, data| data['recast'] || data['recast_every'] || data['expire'] }
 -- def check_buffs(game_state)

So, I added recast: 1 t

[2021-08-25 12:26] vtcifer commented on #5145
IMO unless this change is non-breaking for characters without ADC, it should be managed in users yaml instead of base data.

[2021-08-25 14:28] wstampley commented on #5145
Yeah, the base effect of heal is that it heals wounds you currently have. If you don't have ADC, then heal ends when you have no wounds left and the entry having a 'recast' value means that it would get recast over and over for someone without wounds.

The right answer is to set heal to `recast: -1` for people who have ADC, in their YAML. This tells the magic system in Lich to only cast it if it i

[2021-08-25 14:45] mikejcook commented on #5145
Yeah, that seems reasonable. I just checked and it does work as expected when I override in my YAML, so that seems good to go.

We should document it on this page, as it's a big part of what I've used to get my Empath's YAML into a usable state. If it had been there, I would've made the change and been good to go. The page could use a little updating as a whole, so I'll take a pass at clarifying t

[2021-08-25 14:45] #5145 closed

[2021-08-25 21:44] Khalikryst opened #5146 "Swappable katana issues in combat-trainer"
[combat-trainer: message: You shift your tempered katana so you can use it one-handed.]
[combat-trainer: checked against [/ heavy edged /i, /\bkatana\b.*(light edged|medium edged|heavy edged|two-handed edged|light blunt|medium blunt|heavy blunt|two-handed blunt|light thrown|heavy thrown|short staff|quarter staff|halberd|pike)/, /You must have two free hands/i, /You have nothing to swap/, /Your (le

[2021-08-28 01:07] Kaesken commented on #5146
The only thing I hadn't noticed in the code is when it wants to use your two-handed part of the katana, it doesn't have just "two-handed" under the check list.  It only has "two-handed edged" and "two-handed blunt".

[2021-09-04 04:42] echo1432 opened #5154 "[combat-trainer] dissect hangup after casting blend/hiding"
[combat-trainer]>dissect troll
That's going to be hard to accomplish while concealed.

You feel fully rested.

The troll decomposes.  Not that it looks much different that way.

[combat-trainer: *** No match was found after 15 seconds, dumping info]
[combat-trainer: messages seen length: 10]
[combat-trainer: message: Blend  (3 roisaen)]
[combat-trainer: message: Oath of the Firstborn  (17 roisaen)

[2021-09-05 02:19] rpherbig commented on #5154
@Hiinky

[2021-09-05 04:41] #5154 closed

[2021-09-05 15:00] aruthas opened #5156 "combat trainer giving following error"
--- Lich: error: no implicit conversion of Symbol into Integer
    combat-trainer:3165:in shoot_aimed'
    combat-trainer:3190:in attack_aimed'
--- Lich: combat-trainer has exited.

has something to do with

if Flags['ct-ranged-ammo']
      ammo = Flags['ct-ranged-ammo'][:ammo].to_s
      @firing_check = 0
      quantity = game_state.dual_load? ? 2 : 1
      stow_ammo(ammo, quantity)
      Flags.r

[2021-09-06 22:47] rpherbig commented on #5156
@aruthas what version of Ruby do you have?

@KatoakDR it looks like those lines were last touched in #4890 - is this related to that PR?

[2021-09-06 23:53] aruthas commented on #5156
2.5.5 is the version I have.  I updated the commons and combat-trainer, as well as events.  I know its something on my end.  Having something to with Flags

[2021-09-07 01:23] rcuhljr commented on #5156
Either events.lic isn't updated properly or combat-trainer isn't. Verify what flag is being set for ct-ranged-ammo and the status of events.lic, named group matching has been in place since ruby 1.9.2

[2021-09-25 02:57] rpherbig commented on #1669
Closed in #5001

[2021-09-25 02:57] #1669 closed

[2021-09-25 02:57] rpherbig commented on #4347
Closed in #5001

[2021-09-25 02:57] #4347 closed

[2021-09-25 02:57] rpherbig commented on #4339
Closed in #5001

[2021-09-25 02:57] #4339 closed

[2021-09-25 02:57] rpherbig commented on #4226
Closed in #5001

[2021-09-25 02:57] #4226 closed

[2021-09-25 02:57] rpherbig commented on #3135
Closed in #5001

[2021-09-25 02:57] #3135 closed

[2021-09-26 04:13] SekmehtDR opened #5175 "base-recipie.yaml - Duplicate Item 'some metal hand claws'"
Please remove one copy of 'some metal hand claws' from the YAML. This is causing issues when running workorders.lic and causing timeouts as the script waits for user input.

Please see line item 3914 or 4288. These are the starting lines of the duplicate entries.

`- name: some metal hand claws
  noun: claws
  volume: 4
  type: weaponsmithing
  work_order: true
  chapter: 8
  part:
  - short cord`

[2021-09-26 04:26] SekmehtDR opened #5176 "base-recipie.yaml - duplicate items"
Please take a look these items and delete the duplicate section:

`- name: a stone armband: 2
- name: some elbow-length gloves: 2
- name: a double-wrapped belt: 2
- name: a deeply-hooded cloak: 2
- name: some metal hand claws: 2
- name: a long wood table: 2`

The # at the end above represents the number of times they appear in the yaml.

[2021-09-28 23:36] vtcifer opened #5179 "[script] [remedy.lic] using `crafting_items_in_container` with mortar/bowl/etc causes remedies exit abnormally"
Caused because after  lowering to the ground it's no longer in the container:

[code]

[2021-09-28 23:41] vtcifer opened #5180 "[script] [remedy.lic] Insufficient matches for putting starting herb in container - errors out stack is larger than container size"
https://github.com/rpherbig/dr-scripts/blob/552de006ff7bd234a97b03c7355d17a9ef88df2c/remedy.lic#L238

[code]

[2021-09-29 01:23] rpherbig commented on #5179
@Dartellum

[2021-09-29 01:24] rpherbig commented on #5180
@Dartellum

[2021-09-29 02:00] Dartellum commented on #5179
Weird it does not pick up the bowl for you. In theory, it should have picked the bowl up on line 203 `bput("get my #{@container}", 'You pick up', 'You get')`.

[2021-09-29 12:36] #5175 closed

[2021-09-29 12:44] rpherbig commented on #5176
I fixed `a stone armband`. I also fixed `some metal hand claws` in #5175 .

`some elbow-length gloves` and `a double-wrapped belt` and `a deeply-hooded cloak` exist for both cloth and leather, in different chapters, which I think is why it's in there twice. Someone will need to do a bit more digging to figure that one out.

The two entries for `a long wood table` are different - one has a volume o

[2021-09-29 20:14] Dartellum commented on #5176
I have all these fixed in my PR that is still a draft. I need to finish it.

[2021-10-10 02:31] Kaesken opened #5186 "Spell: Meraud's Cry messaging"
Not sure if it's been updated since, but I had to add this to my base-spells.

You throw your head back and yield to the deconstructive spiritual vibrations building up.

That was giving me a no match found while running combat-trainer when my toon tried to cast Meraud's Cry.

[2021-10-16 03:02] Kaesken opened #5197 "Theurgy - no match when counting wrong oil"
I'll look into changing my crafting storage but just thought I'd show this which keeps getting hung.

[code]

[2021-10-24 20:08] asechrest opened #5202 "[script] [combat-trainer.lic] - Ranged attacks do not increment action_taken"
The script does not appear to increment the action_taken value when firing for ranged combat. I'll attach a brief log. Longer log available.

[code]

Because it does not increment this value, the script does not honor the `combat_trainer_action_count:` setting in associated yamls when using a ranged weapon. Tested so far with a bow and a sling.

A review of the section of code dedicated to ranged

[2021-10-26 04:44] SekmehtDR opened #5205 "Please add Pasabas to base-recipes.yaml."
Please add Pasabas to base-recipes.yaml.

[code]

[2021-10-27 01:46] #5205 closed, assigned to nobody

[2021-10-28 18:30] #5202 closed, assigned to nobody

[2021-11-01 16:07] asechrest commented on #4219
Is this still an issue? I could perhaps look into it as a second PR since my main is a Ranger.

[2021-11-01 16:10] asechrest commented on #4219
Answering my own questions - combat-trainer appears to have the "rapidly decays away" messaging added to the Stow bputs. My bet is that this issue can be closed.

[2021-11-01 17:28] #4219 closed

[2021-11-03 18:37] SekmehtDR opened #5214 "Update to Base-Recipes.yaml"
Please update block on line 3305.

[code]
to:
[code]

Note that the noun does not match the weapon, in this case the noun should be hhr'ata

[2021-11-03 19:09] #5214 closed

[2021-11-04 13:18] Donntae opened #5216 "craft.lic buys wrong enchanting supplies"
craft.lic is buying induction and abolition sigil-scrolls, but enchant is trying to use abolition and congruence to make a holy ritual focus. craft.lic is being called by t2 for general training.

Log is here:
https://pastebin.com/w676WUHD

[2021-11-04 20:40] rpherbig commented on #5216
@Dartellum

[2021-11-04 21:13] BinuDR commented on #5216
I'm working on it.

[2021-11-04 21:26] BinuDR commented on #5216
@Donntae I've submitted a fix.  In the meantime you can edit craft.lic and change line 347 from ordering 1 to 3 as follows:

`      DRCT.order_item(crafting_data['artificing'][@hometown]['stock-room'], 3) unless DRCI.exists?("induction sigil-scroll")`

[2021-11-05 00:53] #5216 closed

[2021-11-08 06:46] SekmehtDR opened #5221 "Update for base-recipes.yaml. Throwing Club Part Missing."
Line 3080 currently reads:

[code]

Please update to include the part noun "haft".

[code]

[2021-11-08 06:49] SekmehtDR commented on #5221
Thanks for all you folks do.

[2021-11-09 13:39] #5221 closed

[2021-11-13 14:48] simmish opened #5224 "transfer-items"
Please add transferring of items from a worn/held container into another container not on oneself.  For instance, transferring from a backpack to a donation shelf or trashcan.  would be amazing!

[2021-11-13 19:06] asechrest commented on #5224
I'm pretty green but I'll give this a whirl. No timeframe. On Discord there was a suggestion to make this a separate script from transfer-items, which is primarily designed to safely transfer items between things on your own person. Transferring off your person would be inherently unsafe, thus the suggestion to make it separate. I'm thinking "offload-items" or something similarly named.

[2021-11-13 19:43] simmish commented on #5224
Hey no timeframe needed!  I tried to figure it out but my eyes cross with ruby and dr stuff.  Probably doesn't help I'm a novice at it.

Makes sense for a separate script for sure.  Just for the backlash people would post if they weren't paying attention or made a typo

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Adam Sechrest ***@***.***>
Sent: Saturday

[2021-11-19 06:18] KatoakDR commented on #5156
@aruthas Do you have the log of the "You fire...." message right before that error happened? Are you still having this error come up or was it a one time fluke?

Also, sorry for the late follow up, I was out of the game for a few months and not monitoring things.

[2021-11-19 16:54] asechrest commented on #5224
@rpherbig  This can be closed via #5232

[2021-11-19 17:09] #5224 closed

[2021-11-20 22:28] Chewmatca opened #5242 "Tactics manuevers fail if not standing, missing 'You should stand up first'"
"You should stand up first" is not included in combat-trainer.lic
can search for instances of: 'You must be standing'
Lines 2464 and Line 2742 look to need to have this added, or your dude just stands there gettin whacked while prone.

Others also advised it could be same in issue for combat manuevers:

Zin — Today at 11:11 AM
re: the standing thing, the same issue exists for combat manuevers
If y

[2021-11-20 22:37] Chewmatca commented on #5242
Full log, expect the script to stand when it did not, due to not catching "You must be standing" after being knocked to the ground.

An ice archon raises its massive icy foot and brings it downward!
The massive impact shakes the ground!
You fall over as the world shakes beneath you!
[You're mighty, very badly balanced with opponent overwhelming you.]

The ice archon moves into a position to parry.

[2021-11-21 00:35] Dartellum commented on #4733
Did you do this?

[2021-11-21 01:19] Kaesken commented on #4733
Apparently the code above stopped working when combat-trainer was updated but this works now:
[code]

[2021-11-21 02:35] Dartellum commented on #4733
https://github.com/rpherbig/dr-scripts/pull/5243

[2021-11-21 04:53] Valherun opened #5244 "combat trainer unable to get flint lighter from Eddy"
coding for the meraud_commun method needs to be updated to work with eddies
starts around line 2620

[code]
generic fputs here won't get the item from a portal, possibly upgrade to using equipment manager?

[2021-11-22 00:39] #4733 closed

[2021-11-22 02:21] asechrest commented on #5242
Another hangup in the maneuver section per Zin on Discord:

[code]

[2021-11-24 19:40] Chewmatca opened #5248 "Add additional rooms for black goblins in ilithi, only 4 are present and can be full"
Proposed additions (added 3 more rooms):
base-hunting.yaml
[code]

[2021-11-24 20:34] #5248 closed

[2021-11-25 14:18] asechrest commented on #5242
@Chewmatca this should now be fixed.

@rpherbig We can close this via #5247

[2021-11-25 16:04] #5242 closed

[2021-11-26 05:41] asechrest opened #5253 "Craft script possibly fails if there is a tree in the room"
Occurred in room# 6455 just as the script looked to dispose of a completed remedy. My previous safe room was in Wolf Clan and the script would have dropped the finished product. With no other craft/alchemy/remedy changes, the script suddenly wants to put the potion in a tree. My new safe room as interactable trees. I'll explore this one, but an early hunch is the script thinks the tree is a trash

[2021-11-26 06:46] asechrest commented on #5253
The room description I was in:

[code]

Note the player-owned homes in the form of trees.

[2021-11-26 15:06] #5253 closed

[2021-12-02 18:46] Chewmatca opened #5266 "Room Missing for Adult Wyrvns hunting - 19178"
Hunting skips this room for some reason?

[Wyvern Falls, Bridge]
The sturdy stone bridge spans the very top of Wyvern Falls.
You also see an adult wyvern.
Obvious paths: southeast, northwest.

**Room Number: 19178**

current rooms are:

base-hunting.yaml

# https://elanthipedia.play.net/Adult_wyvern                         1000-1300
  adult_wyverns:
  - 19175
  - 9038
  - 9039
  - 9040
  - 9674

[2021-12-05 17:45] asechrest opened #5274 "[script][clean-leather] Doesn't order correct supplies, match failures, hangs"
Reported [first by Rohk](https://discordapp.com/channels/745675889622384681/745762398056612020/916558926173044756).

PR #5273 fixes just the issue with ordering the wrong items. More failures exist.

[code]

Further failures noticed while fixing the reported issue:

Doesn't recognize when no more solution can be poured:
[code]

Also fails when hands are full after starting the script.

[2021-12-06 15:03] rpherbig commented on #5274
Can this be closed?

[2021-12-08 05:32] asechrest commented on #5274
This still has at least one failure mode:

[code]

[2021-12-10 18:46] Hiinky opened #5285 ";circlecheck is currently not calculating correctly."
@asechrest Can you see what's going on?  Seems related to https://github.com/rpherbig/dr-scripts/pull/5284
The non-updated file is still working as intended.

[code]

[code]

[2021-12-10 20:18] asechrest commented on #5285
Yep, will check it out. Thanks for advising, sorry about that.

[2021-12-10 21:14] asechrest commented on #5285
@Hiinky

Any chance you have a copy/paste of your `exp 0` and your guild? If the old file works, and my revised one doesn't, it's probably something I did, by if you have an `exp 0` it might help me diagnose. Thanks.

[2021-12-10 23:00] MahtraDR commented on #5197
@Kaesken does @wstampley's comment above resolve the issue for you? Can we close this?

[2021-12-10 23:22] MahtraDR commented on #1572
Are these still valid?

[2021-12-10 23:23] MahtraDR commented on #4985
Is this still valid? I can add them in if so.

[2021-12-11 02:22] asechrest commented on #5285
@Hiinky

I will need more info from you to figure this out. While I did so some string manipulation with my edit, I didn't change the fundamental calculations for circles. Your paste of game output is not my revised file. Could you do some other cut and pastes for me?

Here is my character talking to the guildleader, running the new ;cc, and running the old ;cc. It seems to be accurate:

[code]

[2021-12-11 02:25] #4099 closed

[2021-12-11 02:26] #5266 closed

[2021-12-11 02:28] rpherbig commented on #1572
@Sephroc

[2021-12-11 02:28] rpherbig commented on #4985
@MrQuosig

[2021-12-11 06:52] MahtraDR commented on #1411
@wscherer420 Is this still a thing? I can add these if they are.

[2021-12-11 06:53] MahtraDR commented on #4104
@Kaesken Are these still valid?

[2021-12-11 06:57] MahtraDR commented on #1942
https://github.com/rpherbig/dr-scripts/pull/5254 Should close this. @rpherbig I don't know how to link issues, apologies.

[2021-12-11 07:00] MahtraDR commented on #1713
Can we close this, or is there anything pending here?

[2021-12-11 07:05] MahtraDR commented on #4661
Can we close this? It's widely agreed play is very basic and does what it does. Cleaning, and song choosing for skill come from performance, that's the documented, intended behaviour.

[2021-12-11 07:07] MahtraDR commented on #3113
astrology.lic uses the astrology waggle. If you want PG whilst using the script, it needs to be in the waggle, with appropriate recast: timers so you always have it up.

@rpherbig This can be closed, I think.

[2021-12-11 07:08] MahtraDR commented on #4216
This is being worked on here https://github.com/rpherbig/dr-scripts/pull/5281

[2021-12-11 07:32] MahtraDR commented on #1847
@rpherbig This can be closed. The current default is .85

[2021-12-11 07:35] MahtraDR commented on #1978
This is already achievable today, using teach and smartlisten.lic. @rpherbig This can be closed too.

[2021-12-11 07:37] MahtraDR commented on #2567
https://github.com/rpherbig/dr-scripts/pull/5269 should close this. @rpherbig

[2021-12-11 08:03] MahtraDR commented on #4721
This was added in https://github.com/rpherbig/dr-scripts/pull/4778 and can be closed. @rpherbig

[2021-12-11 11:47] rpherbig commented on #1942
Fixed in #5254

[2021-12-11 11:47] #1942 closed

[2021-12-11 11:48] #1713 closed

[2021-12-11 11:48] #3113 closed

[2021-12-11 11:55] #1847 closed

[2021-12-11 11:55] #1978 closed

[2021-12-11 11:55] #2567 closed

[2021-12-11 11:56] #4721 closed

[2021-12-13 20:46] #4681 closed

[2021-12-14 04:34] asechrest commented on #5285
I suggest we close this for now. I reverted my PR for `;circlecheck`. I will note, though, that if this is truly an issue, it likely exists in the un-edited script, since the OP's pasted output is not from the edited file, and because my PR didn't touch the methods that do the calculations.  If it reoccurs, we can open another issue.

[2021-12-17 09:18] MahtraDR commented on #4193
I can think of at least two ways we can fix this.

1. Edit combat trainer. - The function fix_standing could be co-opted for this, since it gets called everywhere anyway.
2.  Edit base-hunting to note that these can make you sleep, and recommend adding "wake: 10" to buff_nonspells:

I prefer the latter, it's much simpler... @rpherbig opinions? If you're ok with 1, I can add that, but I think 2 wou

[2021-12-17 14:21] MahtraDR commented on #3171
Works with Yogi.

[code]

[2021-12-17 14:53] rpherbig commented on #3171
Fixed in #3581

[2021-12-17 14:53] #3171 closed

[2021-12-17 15:25] rpherbig commented on #4193
`lich` itself has a predicate `sleeping?` that, to my knowledge, we've never used before. You might test that to make sure it behaves the way we expect, then we can check for it in maybe `SafetyProcess` (similar to this: https://github.com/rpherbig/dr-scripts/blob/master/combat-trainer.lic#L993)

Another option would be to add a Flag to `SafetyProcess` to detect "You abruptly stop in your tracks a

[2021-12-18 00:05] MahtraDR commented on #4104
@rpherbig Close? or wait another week? Given it's two years old, and nobody else has asked, and @Kaesken hasn't responded... I figure it doesn't make sense to add yet another zone for us to maintain. I would be happy to add for an active request, note.

[2021-12-18 00:07] MahtraDR commented on #4985
@rpherbig Close? or wait another week? Not quite as old as the other request for a zone, but nobody else has asked either, and @MrQuosig hasn't responded... I figure it doesn't make sense to add yet another zone for us to maintain. As in the other instance, I would be happy to add for an active request, note.

[2021-12-18 00:24] MahtraDR commented on #4193
Having a chat about this now, and it appears this isn't actually that simple. It's true the game messaging for attempting an action whilst asleep says
[code]

But it is currently being explained to me that you can't just wake up from this. It's a poison arrow effect, and you will only be able to use 'wake' after the poison wears off. I'm inclined to make a note in base-hunting that this can happen

[2021-12-18 00:35] rpherbig commented on #4193
Given that we don't have people clamoring for this, and the age of this Issue, I think your approach is best.

[2021-12-18 00:36] #4104 closed

[2021-12-18 00:36] #4985 closed

[2021-12-18 00:44] MahtraDR commented on #4007
@rpherbig Sorry, I thought my commit being merged would resolve this issue. Can be closed. Is there a way to have a merge auto-close open issues?

[2021-12-18 01:14] rpherbig commented on #4007
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

For example, "Fixes #4007" in the commit message

[2021-12-18 01:14] #4007 closed

[2021-12-18 01:49] #4193 closed

[2021-12-18 02:10] MahtraDR commented on #3424
This looks to have been resolved by https://github.com/rpherbig/dr-scripts/commit/cb528629a721292b4d9d7f15e05c2712961eec52#diff-18443e09d277ccd7f885eaf0b9fbdcad81101750fe3ed962d52a7b82a60bb99a

[2021-12-18 02:11] MahtraDR commented on #1572
@rpherbig Sorry I missed this one. It's 4 years old, and nobody else has piped in. Close?

[2021-12-18 02:13] MahtraDR commented on #5032
@rpherbig We can close this. Katoak's answer above is very good.

[2021-12-18 02:35] MahtraDR commented on #1428
@rpherbig It's not the original issue, but https://github.com/rpherbig/dr-scripts/pull/1503 addresses the direction the discussion went to (and died) in 2017. Maybe close? The conversation is worthwhile, but since it hasn't been picked up in 4 years, is it worth keeping this open?

[2021-12-18 02:38] MahtraDR commented on #1638
@rpherbig Similar to the other issue, is it worthwhile keeping this 4yo discussion open? It hasn't been enoug of a problem for anyone to comment since.

PS. I'm going through issues from oldest to newest, tackling what I can quickly, and triaging what I can't solve quickly into a list I can tackle after the initial pass. Is that helpful, or just adding noise to your inbox?

[2021-12-18 03:34] asechrest commented on #1531
@rpherbig @MahtraDR

With no additional comments since 2017 and a glance at the code wherein it retries on failure, I say we close this.

[2021-12-18 03:51] MahtraDR commented on #1465
This doesn't happen amymore. I just tested on mine (I have weeks worth of logs showing this not happening too)

[2021-12-18 05:55] MahtraDR commented on #5197
@rpherbig Candidate for closure? @wstampley's post is spot on, and this is documented in base.yaml
[code]

[2021-12-18 05:56] MahtraDR commented on #2641
@rpherbig This looks resolved by the attached commit from 2018.

[2021-12-18 06:03] MahtraDR commented on #3288
from running just ```;theurgy``` certainly Tamsine runs.

[code]

I'm getting Truffenyi's this weekend, will test GG casting, the code certainly thinks it should cast GG if the cleric has it. I'll dig in.

In 7 weeks of running theurgy multiple times a day, it has never tithed. I do have tithe set in my yaml, so I'll look into that as well. I'll copy your theurgy settings and try.

I do realize th

[2021-12-18 10:47] MahtraDR commented on #3288
note theurgy.lic already uses GG to make wine for Truffenyi's commune, and uses Tamsine's commune. I only fixed tithing, and bead carving with the above.

[2021-12-18 12:24] #3424 closed

[2021-12-18 12:24] #1572 closed

[2021-12-18 12:24] #5032 closed

[2021-12-18 12:25] #1428 closed

[2021-12-18 12:27] rpherbig commented on #1638
I don't mind, as long as you find it helpful.

I think newest-first is most likely to solve real problems experienced by our users today. Oldest-first is most likely to find issues that can be closed as stale and clean up the backlog so there is less noise. Either one is useful and I suggest you go with what you find the most interesting.

[2021-12-18 12:27] #1531 closed

[2021-12-18 12:28] #1465 closed

[2021-12-18 12:28] #5197 closed

[2021-12-18 12:28] #2641 closed

[2021-12-18 12:47] MahtraDR commented on #2203
@rpherbig Can close. This isn't an issue with the script.

[2021-12-18 12:50] MahtraDR commented on #3918
@rpherbig Can close this one too. This isn't an issue today.

[2021-12-18 12:58] MahtraDR commented on #1310
@rpherbig How do you feel about closing this, given today we can
[code]
I understand the nuance difference of the request, but as a no-effort solution for a 4yo solution, trap_blacklist seems reasonable to me.

[2021-12-18 13:07] MahtraDR commented on #1524
@rpherbig Can close this one.

[2021-12-18 13:08] MahtraDR commented on #1589
@rpherbig taking @izawwlgood's comment at face value, can close. (I also can't replicate this at all today)

[2021-12-18 13:16] MahtraDR commented on #1778
@rpherbig this was resolved by https://github.com/rpherbig/dr-scripts/pull/2587

[2021-12-18 13:20] MahtraDR commented on #1747
@rpherbig can close. this is possible today with multi, or possible then (and now) by creating an alias with newlines between arguments like this:

[code]

[2021-12-18 13:26] MahtraDR commented on #1900
@rpherbig Not exacly the same, but this is what aiming_trainables already does. Close?

[2021-12-18 13:27] MahtraDR commented on #1958
@rpherbig can close. We have tie_gem_pouches today.

[2021-12-18 13:37] MahtraDR commented on #3136
@rpherbig this works today. can close.

[2021-12-18 13:39] MahtraDR commented on #3154
@rpherbig can close, there are options in place to fix this already.

[2021-12-18 13:46] MahtraDR commented on #3632
@rpherbig Do we want this? I can submit. Or close?

[2021-12-18 13:46] #2203 closed

[2021-12-18 13:46] #3918 closed

[2021-12-18 13:47] #1310 closed

[2021-12-18 13:47] #1524 closed

[2021-12-18 13:47] #1589 closed

[2021-12-18 13:48] #1778 closed

[2021-12-18 13:48] #1747 closed

[2021-12-18 13:48] #1900 closed

[2021-12-18 13:48] #1958 closed

[2021-12-18 13:49] #3136 closed

[2021-12-18 13:49] #3154 closed

[2021-12-18 13:50] rpherbig commented on #3632
I think it would be prudent to at least do a diff and see if there are any changes we need to pull in

[2021-12-18 14:10] MahtraDR commented on #3632
I need to learn better git. It must be possible to go commit by commit. In the mean time, I have a diff here https://github.com/rpherbig/dr-scripts/compare/master...MahtraDR:creating_a_branch_to_compare_upstream_go2_against_ours?expand=1

[2021-12-18 14:29] MahtraDR commented on #3632
Actually, it's not many at all.

Starting here https://github.com/matt-lowe/Lich/commits/master/scripts/go2.lic

We have the DR-specific commit already. The others are all GS-specific, I think. They're all very small commits, with some rapid version bumping in between. I don't think we should rebase, or need any of those commits...

[2021-12-18 14:45] MahtraDR commented on #4888
Any objection to the Samples folder now? I like this idea, and it's easy.

[2021-12-18 16:07] asechrest commented on #2854
@MahtraDR put me on this very old issue since I recently updated ;circlecheck. I believe the OP's issue is an anomaly and/or has been fixed in the 3 years since. Strangely, it lists that he has enough 3rd lore for circle **145** (when he's currently circle 149), and yet calculates the proper 3rd Lore target ranks for circle **150**. The proper readout is obviously to list what circle you have enou

[2021-12-18 16:32] asechrest commented on #2854
The discrepancy seems to be that the online calculators calculate 3rd Lore at 2 ranks per circle from circle 71-100. Elanthipedia says it should be 3. Can anyone confirm?

[2021-12-18 17:45] BinuDR commented on #4888
No objections from me.

I had another idea too.  Maybe we should have subfolders for each guild so it's easier for everyone to find a yaml for the guild they're looking for.

[2021-12-18 18:01] rpherbig commented on #3632
Thank you for doing the investigation

[2021-12-18 18:01] #3632 closed

[2021-12-18 18:03] rpherbig commented on #4888
Works for me

[2021-12-19 12:40] MahtraDR commented on #4888
Didn't get to this today, but might tomorrow. One thing came up. Speaking with a new-to-lich person, they commented that some of the yamls are really out of date. Do we want/mind some basic triaging of the yamls we have?

In my mind, we don't need lots, but we need good examples for people. Opinions?

[2021-12-20 06:59] MahtraDR commented on #4888
@rpherbig @BinuDR Have a look at https://github.com/MahtraDR/dr-scripts/tree/clean_profile_dirs_sort_samples_into_guild_folders please? If it looks ok, I'll submit as a PR.

[2021-12-20 19:22] asechrest commented on #4888
I like that file structure.

Also in my opinion, even some of the `sample*.yaml` could use significant updates and more robust commenting. Yaml help is one of the more frequent things we get asked for in Discord. And for new folks it is fairly clear there is significant confusion centering around a list things:

- How do I start? (Answer: _not_ by copying an entire advanced yaml with most of the s

[2021-12-20 19:55] rcuhljr commented on #4888
Since I like making work for people, the dream might be doing a set of sample yamls for like 5 different circles for a class, and in each one comment specifically the things that changed from the previous one and why. So level one wm file casts fireshard, hunts rats, and that's it. level  5 one might have two spells, one buff, and locksmithing since it starts hunting goblins whatever, and then a h

[2021-12-20 19:57] MahtraDR commented on #4888
@Gildaren and I discussed this. That's the vision on our side too. Level 1, level 50, level 100. Beyond that others will have to chime in since that's where mine top out at the moment. :D

[2021-12-20 20:59] rpherbig commented on #4888
I'm not sure if it would help, but I checked in all of my characters' YAMLs pretty regularly. You should be able to go through their git history and pull out some versions at notable circles. Maybe they're too old and/or it would be too much effort, though.

[2021-12-20 21:04] MahtraDR commented on #4888
Level 1 data will be easy, we can start f2p character for each. From there, we can look at yaml histories and fish for level-appropriate yamls per class. I've recently done level 1-~80 on bard/cleric and have those histories.  Our most underdocumented class is trader if you have one of those with history that might help a lot.

[2021-12-20 21:06] rpherbig commented on #4888
E.g. https://github.com/rpherbig/dr-scripts/commits/master/profiles/Abius-setup.yaml (replace the character name as needed)

Abius (bard), Atere (bard), Doruktin (cleric), Elegoth (barb), Inkin (thief), Kawill (cleric), Khalei (thief), Kyandale (thief), Paeriluno (moon mage), Pennerohn (paladin), Phoerne (bard), Raddalaf (bard), Sheltim (barb), Sorjen (necro), Tamfall (war mage), Tekronn (paladin)

[2021-12-20 21:14] MahtraDR commented on #4888
The level 1 is exactly what I'm aiming for. @asechrest and I were just discussing this. We'll come up with a nice format, fully commented/documented, that just works for level 1. Basic instructions for gear acquisition and such. There is even a newcharacter script I think. "Run this script with 3 plat on the character, it'll grab you basic gear, and then use the level 1 yaml"

[2021-12-21 19:55] #2854 closed

[2021-12-21 19:55] #5285 closed

[2021-12-21 19:59] #3288 closed

[2021-12-21 22:17] MahtraDR commented on #1411
@rpherbig Close?

[2021-12-22 00:27] #1411 closed

[2021-12-22 04:08] MahtraDR commented on #2077
@rpherbig I am going through issues for favor.lic and saw this. I think we can close it. It's a known issue, and the effort involved isn't worth it, given how nobody has responded/added to this since 2017.

[2021-12-22 05:25] MahtraDR commented on #4335
@rpherbig Can close this, as pointed out by @cfrisby77 researcher.lic does this already.

[2021-12-22 12:07] #2077 closed

[2021-12-22 12:07] #4335 closed

[2021-12-22 16:11] #3279 closed

[2021-12-22 16:11] #3994 closed

[2021-12-23 00:52] #3152 closed

[2021-12-23 00:52] #4065 closed

[2021-12-23 00:52] #4723 closed

[2021-12-23 09:04] MahtraDR commented on #1851
@rpherbig I reckon we can close this. Looking at the yaml linked,
[code]

I just helped someone else debug an issue like this, and the problem was that she too, had -d0

Can close.

[2021-12-23 09:58] MahtraDR commented on #3101
@rpherbig can close. Resolved as above.

[2021-12-23 10:02] MahtraDR commented on #3681
@rpherbig can close

[2021-12-23 22:11] #1851 closed

[2021-12-23 22:11] #3101 closed

[2021-12-23 22:11] #3681 closed

[2021-12-23 22:18] MahtraDR commented on #1401
Is this still an issue for people?

[2021-12-23 22:19] MahtraDR commented on #1425
@rpherbig can close.

[2021-12-23 22:21] MahtraDR commented on #1537
This doesn't happen anymore. The script just offers 999999 for school lockpick and buys at the lowest price.

@rpherbig can close.

[2021-12-23 22:22] MahtraDR commented on #1632
@rpherbig can close.

This is not an issue if you set invoke cambrinth exact or whatever the setting is called. It'll never invoke more than what you set the spell to use.

[2021-12-23 22:23] MahtraDR commented on #1635
@rpherbig can close. Addressed reasonably well in https://github.com/rpherbig/dr-scripts/pull/5277

[2021-12-23 22:25] MahtraDR commented on #1742
@rpherbig can close. This is what restock.lic does

[2021-12-23 22:27] MahtraDR commented on #1785
Is this still an issue? We can use more sensible defaults if called for. @rpherbig opinions? Old discussion, shall we try to resolve it, or close it?

[2021-12-23 22:28] MahtraDR commented on #1931
@rpherbig is close this unless we get more input for it. The default that exists now hasn't yielded a complaint in at least 4 years.

[2021-12-23 22:30] MahtraDR commented on #2431
Still an issue?

[2021-12-23 22:57] MahtraDR commented on #1632
The exact setting today is  called ```cambrinth_invoke_exact_amount``` and defaults to false.

[2021-12-23 22:57] #1425 closed

[2021-12-23 22:57] #1537 closed

[2021-12-23 22:58] #1632 closed

[2021-12-23 22:58] #1742 closed

[2021-12-23 22:58] #1931 closed

[2021-12-23 22:58] #1635 closed

[2021-12-24 01:31] MahtraDR commented on #1485
@rpherbig close?

[2021-12-24 01:40] MahtraDR commented on #4313
@rpherbig close? No meat to dig into here.

[2021-12-24 01:40] MahtraDR commented on #4224
@rpherbig close?

[2021-12-24 02:37] MahtraDR opened #5329 "Dependency in mainline lich repo is out of date"
@jayRyan24 i think Etreu is yours, and he's listed as the owner of the version of dependency uploaded to the mainline lich repo (with ;repos) would you mind pulling that and I or @KatoakDR can upload and maintain an up to date version?

This impacts new users who have to manually download an up to date version from discord or GitHub and causes some pain with support.

Thanks!

@rpherbig do you kno

[2021-12-24 03:05] rcuhljr commented on #5329
Etreu is mine and that account has been inactive for like 2-3 years. If tillmen is active you can have him remove it or change ownership in repository.

[2021-12-24 03:07] MahtraDR commented on #5329
Thank you for replying. I haven't tried Tillman yet. Can do next.

If it's been inactive for that long, you can get a free month of premium using https://www.play.net/dr/promo/reactivate/home.asp?offerCode=DRBACKAFTER6

Would you be willing to do that? You can cancel right after.

[2021-12-24 03:13] #1485 closed

[2021-12-24 03:13] #4313 closed

[2021-12-24 03:13] #4224 closed

[2021-12-24 03:19] Tyrranny commented on #4313
Yes, I never traced a root cause but moved my download directory to point at my data drive and it let me click download anyway. Had all security off that I know of and I'm a data center engineer. I suspect it was something I installed after rsl, it had been working until then.

Thanks for your hard work!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mahtra

[2021-12-24 03:34] rcuhljr commented on #5329
I'll be home again in ~4 days, I can look into it if Tillmen isn't tracked down yet.

[2021-12-24 10:30] MahtraDR commented on #5329
Following up, I've written to Tillmen just now. I asked that he delete the file from the repo, and referenced this thread.

I've also asked him to blacklist the filename from the repo, if possible. That prevents this issue in the future, and lets us manage new-installs our own way, without depending on the main lich repo. Katoak or I could maintain the file, but it's just as plausible one of us en

[2021-12-26 18:50] asechrest commented on #5180
@rpherbig Can close via #5260

[2021-12-26 20:19] asechrest commented on #5179
I see the problem on this one. The method to get items is used for both getting the container (mortar, bowl, etc.) out of a yaml-specified `crafting_container` as well as to pick up the container when it is lowered at your feet. The problem arises when said container is listed under yaml setting `crafting_items_in_container` because this method honors that setting, which then will always try to ge

[2021-12-27 01:24] asechrest commented on #4972
I've confirmed this still happens. I'll work on fixing this one.

[2021-12-27 06:32] asechrest commented on #4661
@rpherbig Ok to close this per prior comments. Working as intended. Thanks.

[2021-12-27 18:29] #1785 closed

[2021-12-27 19:07] #5180 closed

[2021-12-27 20:23] #4661 closed

[2021-12-28 00:02] rcuhljr commented on #5329
I mean if we're moving the boot strapping file somewhere else it doesn't _super_ matter if it's still in `;repo`, just update the docs to all reference the new file location and the repo copy should drift off into the forgotten past.

[2021-12-28 00:09] MahtraDR commented on #5329
The problem with the ;repo version is that it causes newbies problems. We get a lot of people coming to discord with half-installed lich, and it often comes from them having used the out of date dependency in ;repos.

My thinking is actually to remove your copy, and replace it not with the current up to date version, but with a placeholder script which references this repo, and the discord instead

[2021-12-28 19:06] asechrest commented on #4402
@rpherbig Ok, to close, no response from OP, no current reports of the issue. Thanks.

[2021-12-28 19:13] #4402 closed

[2021-12-30 01:09] vtcifer commented on #5329
If none of our instructions don't reference it anymore, and people still do it: 🤷‍♂️

[2022-01-01 09:59] MahtraDR commented on #4235
@rpherbig Can close this.

[2022-01-01 10:06] MahtraDR commented on #4083
@rpherbig It's not really a RFE, I'd say close?

[2022-01-01 21:43] Bmoney420 opened #5363 "stand true/false for Pick.lic"
would like it if there was a feature to allow to sit/stand while picking

[2022-01-01 21:46] MahtraDR commented on #5363
Weird, but doable. I'll look into this tonight. 😀

[2022-01-01 23:20] asechrest commented on #5363
I have an edit saved. Will test shortly.

On Sat, Jan 1, 2022, 4:46 PM MahtraDR ***@***.***> wrote:

[2022-01-03 01:58] #4235 closed

[2022-01-03 01:59] #4083 closed

[2022-01-03 07:31] MahtraDR commented on #5363
@rpherbig this is resolved by https://github.com/rpherbig/dr-scripts/pull/5364

[2022-01-03 07:33] MahtraDR commented on #5329
@rcuhljr Any chance you could look into this again? Nothing from Tillmen, and this would make a big difference to our support experience. :)

[2022-01-03 19:39] #5363 closed

[2022-01-03 20:46] SekmehtDR opened #5370 "Sell-Loot - Issue selling certain gems."
[code]
Regex seems to only be passing "chunk" instead of "coral", is there an easy fix for this to adjust the regex or something else? Figured i'd report it if any other players have issues with it.

[2022-01-03 22:16] Valherun commented on #5274
can confirm this fails when trying to pour lotion on skins. It seems to be confused is maybe looking at skin as being the PC such as how an empath would take skin wounds.

Failures on: ``pour lotion on my skin``, ``pour my lotion on my skin``

Succeeds with: ``pour lotion on skin``, ``pour my lotion on skin``, or better ``pour my lotion on my <adjective> skin``

[2022-01-04 00:28] rpherbig commented on #5370
@KatoakDR is this related to #5351?

[2022-01-04 00:30] rpherbig commented on #5370
@asechrest is this related to #5339 ?

[2022-01-04 00:52] #4948 closed

[2022-01-04 01:04] KatoakDR commented on #5370
Yes in that I need to submit another PR like 5351 that handles "chunk of" and "hunk of" like we previously added support for "piece/set/pair of"

[2022-01-04 01:41] asechrest commented on #5370
Interestingly, this uses a different rummage method. The selling of _gems_ within `sell-loot` uses `DRC.get_gems` => `DRC.rummage` => `DRC.list_to_nouns' => `DRC.get_noun` => `DRC.remove_flavor_text`. That last one is the one that @KatoakDR is working on (thankfully!) and the regex processing in that thing is an absolute bear.

The PR I worked on involved the selling of metals and stones within `s

[2022-01-04 01:47] asechrest commented on #5274
@Valherun and I are working this issue.

[2022-01-04 07:48] MahtraDR commented on #4145
@minor-fixes-only still an issue? I don't see this with my barb today.

[2022-01-04 09:07] MahtraDR commented on #1439
@Onbusi would you still use this today?

[2022-01-04 09:10] MahtraDR commented on #1246
@rpherbig Can we close this? Years without updates...

[2022-01-04 09:10] MahtraDR commented on #1260
@rpherbig I'd say we close this. ;research takes just a few minutes to run when you die.

[2022-01-04 09:11] MahtraDR commented on #1261
@cynesis is this still a thing?

[2022-01-04 09:11] MahtraDR commented on #1268
@rpherbig Can we close this? Years without updates.

[2022-01-04 09:13] MahtraDR commented on #1366
@rpherbig known issue, and no complains in almost 5 years. Close?

[2022-01-04 09:15] MahtraDR commented on #1378
There is actually overlap between this and a recent issue where CT wasn't exiting combat with stop_hunting_if_bleeding: true and skip_last_kill: false I think this function needs to be looked at again. @KatoakDR fyi

[2022-01-04 09:15] MahtraDR commented on #1391
@rpherbig Close? Lich's open source now, if this comes up again, we can look at it then?

[2022-01-04 09:16] MahtraDR commented on #1401
@rpherbig close this? Genie's open source now. Folks can fix this kind of thing for themselves.

[2022-01-04 09:18] MahtraDR commented on #1438
@Onbusi Are you able to test this? See linked commit above, copying the code used in t2 into training-manager

[2022-01-04 09:18] MahtraDR commented on #1445
@rpherbig Close? Genie's open source now. Someone can create this functionality if they really want to, but this is years old now.

[2022-01-04 09:23] MahtraDR commented on #1484
@tulanegator Can you still replicate this today? I couldn't when I tried.

[2022-01-04 09:26] MahtraDR commented on #1575
@rpherbig Can close this. We can use Sorcery with combat_training_spells today, with appropriate skill checks. I don't know when it was introduced, but this is 5 years old. :)

[2022-01-04 09:26] MahtraDR commented on #1667
@dewiniaid Did this go anywhere?

[2022-01-04 09:27] MahtraDR commented on #1699
@rpherbig Can close this.

[2022-01-04 09:28] MahtraDR commented on #1754
@rpherbig can close this. Genie's open source now. Let genie folks fix genie issues. :)

[2022-01-04 09:29] MahtraDR commented on #1786
@rpherbig Looks like this can be closed.

[2022-01-04 09:31] MahtraDR commented on #1804
@rpherbig Can close this. sanowret-crystal.lic today has a check for, and returns if invisible, or hidden.

line 44

[code]

[2022-01-04 09:35] MahtraDR commented on #2431
@rpherbig Close? No comment in years.

[2022-01-04 11:50] Onbusi commented on #1439
I don't have an active account right now. I still think it is good
programming to have this in there, so the user could stop and start the
script with another script. My idea was to use it with a timer to log off
after a certain amount t of play time.

On Tue, Jan 4, 2022, 4:07 AM MahtraDR ***@***.***> wrote:

[2022-01-04 12:50] izawwlgood commented on #1261
No, and this can be solved by just setting up a before/after, which is what
people do.

On Tue, Jan 4, 2022, 4:11 AM MahtraDR ***@***.***> wrote:

[2022-01-04 13:54] MahtraDR commented on #1261
@rpherbig Can close. :)

[2022-01-04 17:25] #5370 closed

[2022-01-04 17:28] #1246 closed

[2022-01-04 17:28] #1260 closed

[2022-01-04 17:28] #1268 closed

[2022-01-04 17:29] #1366 closed

[2022-01-04 17:29] #1391 closed

[2022-01-04 17:30] #1401 closed

[2022-01-04 17:30] #1445 closed

[2022-01-04 17:30] #2431 closed

[2022-01-04 17:30] #1804 closed

[2022-01-04 17:30] #1786 closed

[2022-01-04 17:31] #1754 closed

[2022-01-04 17:31] #1699 closed

[2022-01-04 19:00] MahtraDR commented on #1439
Fair enough. In theory it's not too hard. I'll look into this.

[2022-01-05 06:16] MahtraDR opened #5378 "[data][base-empty] breaks nil checks"
@rpherbig In dissecting the major upset that was caused by rewriting bescort to use common-items functions for skates, we've discovered that many of our common-item routines are based on the premise that variables/settings don't exist. In particular, DRCI.put_away_item as an example, stows if the container it's referencing doesn't exist. it turns out we have several variables pre-defined as empty

[2022-01-05 07:23] MahtraDR commented on #1322
@rpherbig Close, as per Dart's comment from 2020?

[2022-01-05 07:24] MahtraDR commented on #1357
@KatoakDR This one looks like it might be of interest to you.

[2022-01-05 07:25] MahtraDR commented on #1410
@rpherbig Looks like we can closed, as the attached PR is closed?

[2022-01-05 07:26] MahtraDR commented on #1446
@rpherbig Can close this. The checks today are much more robust than they were in 2017.

[2022-01-05 07:27] MahtraDR commented on #1450
@asechrest Would you be keen on this one?

[2022-01-05 07:28] MahtraDR commented on #1475
@rpherbig We should be able to close this. The issue here is known, and tends to be related to tools not being repaired, which in turn causes a loss of quality on the end product, which in turn means you can't bundle with the logbook. Dart's already looking at a more informative error when this happens.

[2022-01-05 07:30] MahtraDR commented on #1479
@rpherbig Can close, this section looks very different today.

[2022-01-05 07:34] MahtraDR commented on #1508
@rpherbig No follow up in 5 years, close?

[2022-01-05 07:35] MahtraDR commented on #1578
@rpherbig Close? We can't fix parser issues, alas. This is really annoying. Conceivably we could add a common to look for other PCs in a room, and pause || exit if their names start with "my" or "in"  but that feels really heavy handed to me, as this is a bit of an edge case.

[2022-01-05 07:37] MahtraDR commented on #1615
@rpherbig  What do you think? Worth pursuing 5 years on? I'm inclined to close, since it has had no follow up since.

[2022-01-05 07:37] MahtraDR commented on #1638
@rpherbig Close?

[2022-01-05 07:38] MahtraDR commented on #1653
@rpherbig Close?

[2022-01-05 07:41] MahtraDR commented on #1739
@KatoakDR Looks like equipment manager still uses fputs to this day... Or @asechrest ?

[2022-01-05 07:42] MahtraDR commented on #1841
@rpherbig Close this one too?

[2022-01-05 07:44] MahtraDR commented on #1949
@rpherbig Can close. This would be safe-room today.

[2022-01-05 07:44] MahtraDR commented on #1916
@Aurayn Is this still an issue for you?

[2022-01-05 07:45] MahtraDR commented on #1953
@rpherbig Can close this. ```# invoke a specific cambrinth amount -- useful for traders with Avtalia Array
cambrinth_invoke_exact_amount: false
[code]

[2022-01-05 07:55] MahtraDR commented on #2101
@rpherbig Close?

[2022-01-05 07:56] MahtraDR commented on #2000
@rpherbig Shall we resume pursuing this? The initial install is the single most complex part our new users face, and the fork switch catches a lot of people.

[2022-01-05 07:56] MahtraDR commented on #2204
@rpherbig Still an issue? Close?

[2022-01-05 07:57] MahtraDR commented on #2365
@KatoakDR There are so many issues like this, related to tending bleeders/wounds that I think it's worth looking at as a whole. @asechrest just tagging for visibility.

[2022-01-05 07:58] MahtraDR commented on #2216
@RohkDR Still keen? Or can we close this out?

[2022-01-05 07:59] MahtraDR commented on #2393
@KatoakDR this seems interesting :)

[2022-01-05 08:00] MahtraDR commented on #2542
@rpherbig This can be closed.

[2022-01-05 08:08] MahtraDR commented on #2604
@rpherbig Sometime in the last 3 years, yaml became the default. Shall we close this?

[2022-01-05 08:08] MahtraDR commented on #2613
@KatoakDR This seems like something you'd enjoy :)

[2022-01-05 08:10] MahtraDR commented on #2637
@rpherbig Can close this. We have ```UserVars.song``` today.

[2022-01-05 08:18] MahtraDR commented on #2901
@rpherbig Can close. This works as intended today.

[2022-01-05 08:22] MahtraDR commented on #3176
@xtremenerdrage This is really a thing for your FE, as Sarvatt suggested back in 2018.

@rpherbig Close?

[2022-01-05 08:23] MahtraDR commented on #3182
@rpherbig Can close. They are case insensitive today.

[2022-01-05 08:32] MahtraDR commented on #3512
@rpherbig I think we can close this. It's not a lich issue.

[2022-01-05 08:35] MahtraDR commented on #3846
@mrsaletzkus Is this still an issue?

[2022-01-05 08:38] MahtraDR commented on #3941
@rpherbig We can close this, study-art calls performance today.

[2022-01-05 08:42] MahtraDR commented on #5156
@aruthas Is this still an issue? Do you have the log referenced above?

[2022-01-05 08:42] MahtraDR commented on #5146
@KatoakDR What do you think on this one? Worth adding support specifically for katanas. I don't have one to test, alas.

[2022-01-05 14:34] asechrest commented on #5146
I glanced at this a while back. It will definitely take some changes to the way combat trainer understands what weapon skill has been swapped to. And what's unfortunate is that this katana seems like the only weapon that has this issue. I don't have this katana to test, so I don't feel comfortable making code changes without the ability to test.

[2022-01-05 15:00] #1410 closed

[2022-01-05 18:11] #1322 closed

[2022-01-05 18:12] #1446 closed

[2022-01-05 18:13] #1475 closed

[2022-01-05 18:14] #1479 closed

[2022-01-05 18:14] #1508 closed

[2022-01-05 18:14] #1578 closed

[2022-01-05 18:15] #1615 closed

[2022-01-05 18:15] #1638 closed

[2022-01-05 18:15] #1653 closed

[2022-01-05 18:18] #1841 closed

[2022-01-05 18:19] #1953 closed

[2022-01-05 18:19] #2101 closed

[2022-01-05 18:20] rpherbig commented on #2000
I'm in favor of simplifying the setup process. Everyone really should be using the fork.

[2022-01-05 18:20] #2204 closed

[2022-01-05 18:21] #2542 closed

[2022-01-05 18:22] #2604 closed

[2022-01-05 18:22] #2637 closed

[2022-01-05 18:23] #2901 closed

[2022-01-05 18:23] MahtraDR commented on #5146
@Khalikryst are you willing to loan your katana out to one of us to test this out? None of us have katanas so this will not be implemented if we can't test it...

[2022-01-05 18:23] #3176 closed

[2022-01-05 18:23] #3182 closed

[2022-01-05 18:27] #3512 closed

[2022-01-05 18:28] #3941 closed

[2022-01-05 18:51] asechrest commented on #4972
@rpherbig Can close via my merged PR #5339

[2022-01-05 18:57] #4972 closed

[2022-01-05 18:59] asechrest commented on #3313
I'm working on clean-leather now. I _could_ make the arg order consistent, but that may be a breaking change for anyone who automates the script call with the existing arg order.

Thoughts? If just leave it, we can close this.

[2022-01-06 00:05] MahtraDR commented on #3472
@rpherbig Can close this one.

[2022-01-06 00:05] MahtraDR commented on #2573
@rpherbig Can close this one.

[2022-01-06 00:32] #2573 closed

[2022-01-06 00:32] #3472 closed

[2022-01-06 01:16] MahtraDR commented on #5104
@BinuDR Did you ever end up looking into this one?

@cfrisby77 I don't know that spot, can you give me a room number, or steps to reproduce?

[2022-01-06 01:17] MahtraDR commented on #5244
@Valherun I'm looking into this one now, if we make it use the function that looks in eddies, you'll have to specify the eddy as your theurgy container. Is that what you expect to happen here?

[2022-01-06 01:20] MahtraDR commented on #5075
I've been using the recommended setup with before: after: for a month now on all mine.

Given we'd need to introduce a default stance setting, and a per-spell stance setting, I am not sure that is a major improvement over using the current method. We'd be risking adding more code, purely for the sake of neatness, when before/after already do what's expected.

@KatoakDR Does that make sense to you?

[2022-01-06 01:31] MahtraDR commented on #5104
@Hiinky I spoke with Binu about this on Discord, and he suggested we might need a map change here. Could you look into this one?

[2022-01-06 01:34] MahtraDR commented on #5104
from Binu on Discord just now ```Binu — Today at 2:33 PM
I'll have to find the room number, but basically the timeto for that room needs editing to have a skill check (or a higher skillcheck if it already has one)
[code]

[2022-01-06 01:39] Hiinky commented on #5104
I'm aware of the spot but i don't believe we know the exact perception check and it would require a map lock.  Unfortunately it is not a priority edit to risk a lock until we have more information and multiple "locking" edits to do at one time.  It is also a very small window in which folks are effected.

[2022-01-06 01:45] MahtraDR commented on #5104
@Hiinky Leave this open till then, or can we "queue" the change so it'll go in on your next edit?

[2022-01-06 01:48] Hiinky commented on #5104
it's already on my list.

[2022-01-07 02:10] MahtraDR commented on #5104
@rpherbig since this isn't something we can fix in this repo, as it's a mapdb entry, and Kali's got it in her list already when she next has to lock the map... let's close this.

[2022-01-07 02:20] #5104 closed

[2022-01-07 02:29] MahtraDR commented on #5378
@rpherbig thanks for the answer above. @KatoakDR @asechrest snd I digested and we'll adjust the common calls to account for base-empty.

[2022-01-07 02:29] #5378 closed

[2022-01-07 16:55] asechrest commented on #5179
@rpherbig Ok to close via #5338

[2022-01-07 19:18] #5179 closed

[2022-01-08 04:00] MahtraDR commented on #4366
@rpherbig Can close. Can't reproduce, and no response in over a year.

[2022-01-08 11:53] #4366 closed

[2022-01-08 16:14] Hiinky opened #5392 "Related to #5325 - New installs are getting an empty sample folder"
Wasn't me but a returning player reported her fresh install got all of the expected scripts and sample folder but the sample folder was empty.  @MahtraDR
![image](https://user-images.githubusercontent.com/46695687/148651440-9e93f35a-bd86-45eb-9154-6d0049adae67.png)

[2022-01-08 19:22] MahtraDR commented on #5392
Thanks. I wonder if We need a Dependency update too. I'll check in a bit.

[2022-01-08 19:23] MahtraDR commented on #5392
Sorry for the double post. Did you point them to the repo? She can just download any needed samples from GitHub as a workaround for now.

[2022-01-08 19:27] Hiinky commented on #5392
I just pointed her at discord. All the guild samples are stored there

On Sat, Jan 8, 2022, 2:23 PM MahtraDR ***@***.***> wrote:

[2022-01-09 19:25] rpherbig commented on #5392
My guess is https://github.com/rpherbig/dr-scripts/blob/master/dependency.lic#L389

[2022-01-09 22:17] MahtraDR commented on #5392
It's not a sample folder at all. It's a zero length Sample file.

I'm looking at reworking the current routine. It's mildly obnoxious to deal with nested folders like we have Samples looking like now.

[2022-01-10 01:00] MahtraDR commented on #3936
@rpherbig Can close this. Known issue, and swappables aren't allowed as offhand anything (because they don't work there)

[2022-01-10 01:02] rpherbig commented on #3936
#5397 should take care of this

[2022-01-10 01:02] #3936 closed

[2022-01-10 05:51] MahtraDR commented on #5329
@rcuhljr Any chance you can look into this?

If you sign up with the code/link above, you get a free month. We just need you to pull that one file, and you can cancel again.

Thanks!

[2022-01-11 08:40] MahtraDR commented on #5156
@rpherbig I think we can close this, since there's no followup.

[2022-01-11 14:47] #5156 closed

[2022-01-14 11:12] MahtraDR commented on #3846
@rpherbig Can close this. No updates in a long time, no longs.

[2022-01-14 11:13] MahtraDR commented on #1916
@KatoakDR this might go well with your idea for moons-training

[2022-01-14 11:15] MahtraDR commented on #5146
@rpherbig Close this? We can't do anything without the item to test.

[2022-01-14 14:16] KatoakDR commented on #1916
Thanks, @MahtraDR

Seems this was resolved per https://github.com/rpherbig/dr-scripts/pull/3772 in hunting-buddy

And will more generically be supported by https://github.com/rpherbig/dr-scripts/pull/5410 in T2

[2022-01-14 15:09] #5146 closed

[2022-01-14 15:19] #3846 closed

[2022-01-14 15:26] #1916 closed

[2022-01-15 15:38] asechrest opened #5419 "[script][circlecheck] - Doesn't pull yaml setting"
[Reported by penguin23](https://discordapp.com/channels/745675889622384681/745676101392793651/929472340222418945) in Discord.

For those who have the pretty_print yaml option set to show the updated format of `;circlecheck`, the script occasionally doesn't pull the yaml setting properly and the script shows the old format. The problem is rare.

It's not currently clear why this happens.

[2022-01-15 15:41] asechrest commented on #5274
@rpherbig

Can close via #5386

[2022-01-15 15:50] #5274 closed

[2022-01-16 22:14] rcuhljr commented on #5329
@MahtraDR
[code]

[2022-01-16 22:58] MahtraDR commented on #5329
Thank you! I've uploaded a meta script to replace it, giving instructions to come to github, or discord.

[2022-01-16 22:58] #5329 closed

[2022-01-17 21:14] asechrest commented on #5012
@rpherbig Suggest closing. No response from OP, no further issues, and @KatoakDR 's hunch looks to be the most likely scenario.

Also verified RF [has the invisibility property defined](https://github.com/rpherbig/dr-scripts/blob/58fd89eddba32da3a4a4b79bb1b02139f46eec8f/data/base-spells.yaml#L2287).

[2022-01-17 21:18] #5012 closed

[2022-01-17 21:28] asechrest commented on #5419
There was a suggestion that this was some sort of race condition. Unfortunately I don't know the back-end of the functioning of the code enough to understand whether that could be the case. I also don't know why _this_ script would have trouble sometimes pulling a yaml setting, but others don't.

I don't really want to put a pause in this script to try to overcome the race condition, if that's wha

[2022-01-17 23:01] KatoakDR opened #5440 "[script] [healme] Support tending internal bleeders"
Minimum skill to attempt to tend internal bleeders start at 600 ranks of First Aid.

We are not sure how this requirement scales to more severe internal bleeders, but it's a place to start.

Changes will need to occur in:
- `common-healing`
- `common-healing-data`
- `healme`
- others?

[2022-01-19 17:22] Kaesken opened #5449 "Workorder for Remedies being wasteful"
This has been happening for awhile now but I've just been too busy to make this post.

Workorder for remedies will do it's normal by going to ask for job and all that jazz, but the stuff it makes me buy, once she finishes with the workorder, she will dump to the ground, go turn it in, then repeat it by asking for another job, buy more of the same stuff she just dumped to the ground at my alchemy_r

[2022-01-19 17:24] asechrest commented on #5449
Thanks for the report. If you could please run it again, and then post a log, that would really help us to fix the issue.

[2022-01-19 17:26] Kaesken commented on #5449
Sure!  I can do that right now.  Be a few minutes.

[2022-01-19 17:30] Kaesken commented on #5449
[code]

[2022-01-19 17:31] Kaesken commented on #5449
Oh, I may have snagged way too much but there's her doing a few rounds back and forth with a workorder but I also noticed while getting this she never actually completes her workorder, just repeats the same thing over and over again.

[2022-01-19 17:36] Kaesken commented on #5449
Also, noticed for my F2P's when they don't have the money to buy stuff, they get stuck on an endless ordering and combining loops.

[code]

[2022-01-19 18:46] asechrest commented on #5449
With respect to your first issue of the script disposing of unused crafting materials after you're done, it looks like the script is designed to do so unless you have the following yaml setting:

[code]

Try setting that to `true` and see where that gets you.

[2022-01-19 18:50] asechrest commented on #5449
Also take a look at all the workorder settings in base.yaml. I don't really do workorders but it looks to me like the default setting of asking for "challenging" work is causing you to create items of quality too low to turn in. Maybe tweaking that setting in your yaml will help.

[Here is the workorders](https://github.com/rpherbig/dr-scripts/blob/c8e20343d9545637daaebec245646b3e7269f069/profiles

[2022-01-19 19:17] Kaesken commented on #5449
A'ight, I'll check it out.  I just didn't know what was higher than challenging.  I'll go to the society later to see what all the levels are.  Thank you!

[2022-01-19 19:23] Kaesken commented on #5449
Ok, I did all those changes and now she's stuck on an endless loop of "ask Benzia for hard remedies work"

[2022-01-19 19:28] asechrest commented on #5449
I think the resulting quality of the end item you're crafting isn't high enough to turn in. But honestly, I do so little crafting that I'm not sure if that's 100% true, and I'm not sure what factors go into the final quality of the item.

[2022-01-19 19:38] Kaesken commented on #5449
Yeah I dunno what's going on now.  She won't stop asking for hard remedies work now.  That's all she's been doing for the past 5 minutes now.

[2022-01-19 19:39] asechrest commented on #5449
Let's see all your workorder yaml settings and another log of the new issue.

[2022-01-19 19:40] asechrest commented on #5449
Also are you a member of the DR Lich Discord? This could better be solved there, I think.

[2022-01-19 19:43] Kaesken commented on #5449
I am but I don't like posting on the Lich Discord.  You guys are 100% more helpful here.

[code]

This below is only part of it.  There's several pages of this over and over again:
[code]

[2022-01-19 20:21] #5449 closed

[2022-01-19 20:22] asechrest commented on #5449
Saw you closed this issue. Did you figure it out?

[2022-01-21 09:18] MahtraDR commented on #2215
@rpherbig We can close this. I just noticed performance has this functionality already today.

[2022-01-21 16:20] #2215 closed

[2022-01-21 20:43] asechrest opened #5451 "Possible race condition/collision causing semi-frequent get_settings or get_data failures"
We've had a number of reports, or personal experiences, with failures to `get_settings` or `get_data` within scripts. Examples:

- penguin23 on Discord reports that occasionally, my optional pretty formatting of the `;circlecheck` script output appears to fail to pull the yaml setting `circlecheck_prettyprint`. (Issue #5419 )
- @MahtraDR reports that his updates to allow releasing only certain cyc

[2022-01-21 20:50] KatoakDR commented on #5451
Thanks for the write-up @asechrest

I'm working on adding synchronization to the SetupFiles class in dependency, and other code cleanup, to remove the race condition.

[2022-01-22 13:13] MahtraDR commented on #4190
@GreyhallowDR Are you still seeing this? I just tried on my thief, and don't see this myself.

[2022-01-23 02:56] MahtraDR commented on #5451
@asechrest writes the best bug reports. :)

[2022-01-23 13:17] rpherbig commented on #5451
This +1 ! ❤️

[2022-01-23 23:08] MahtraDR commented on #5419
@asechrest Shall we close this? We know it's the other issue now.

[2022-01-26 04:02] asechrest commented on #5419
Fine with me. Either way, I'll tag it once new dependency merges.

[2022-01-26 04:03] asechrest commented on #5419
Issue now known. Closing as a duplicate of #5451

[2022-01-26 04:03] #5419 closed

[2022-01-28 00:29] MahtraDR opened #5472 "[script][combat-trainer] Allow swappables in the off-hand"
Filed on behalf of Discord user DaveF#1929

Just checked, and we can swap modes whilst in the off-hand.

With the bastard sword in the offhand, main hand clear.
[code]

bastard sword offhand, mainhand occupied

[code]

So we can't use it as 2HE, or swap to 2HE in the offhand, but the one-handed functionality is intact there.

Can we please enable swapping weapons in the offhand?

[2022-01-28 03:46] MahtraDR commented on #5472
[code]

[2022-01-30 19:45] MrQuosig commented on #4985
Request still active, I just lost track of it after the 6th month wait.

[2022-01-31 09:12] Kaesken commented on #5440
[internal_tending.lic.zip](https://github.com/rpherbig/dr-scripts/files/7969451/internal_tending.lic.zip)

So I tried my hand at it.  So far.... it works for me?  However, I'm not sure what the skill checks are, so I just set everything to 600.

However, if it helps, Damiza has 755 ranks of First Aid at 3RT, however, the very bad bleeder seems to be falling apart a lot faster than the others and i

[2022-01-31 13:04] Kaesken commented on #5440
[code]

[2022-01-31 17:21] KatoakDR commented on #5440
Thanks!

[2022-02-01 00:48] Kaesken commented on #5440
I think healme just needed a phrase reworded.

[code]

[2022-02-01 04:42] KatoakDR commented on #5440
Thanks @Kaesken for the research and code updates! -- I'm reviewing them and will submit a pull request on your behalf soon

[2022-02-01 04:47] Kaesken commented on #5440
I've updated the skill chart with indicator of which skill was an Empath that tended.

[2022-02-01 07:10] MahtraDR commented on #5075
This took forever, sorry. Added to https://github.com/rpherbig/dr-scripts/wiki/buff_spells.

@rpherbig We can close this.

[2022-02-04 12:23] MahtraDR commented on #4145
@rpherbig Can close this. Not an issue today.

[2022-02-04 12:35] #4145 closed

[2022-02-05 21:45] MahtraDR commented on #4437
@rpherbig this can be closed.

[2022-02-05 21:47] MahtraDR commented on #4190
@rpherbig this can be closed.

[2022-02-05 21:48] MahtraDR commented on #4072
@rpherbig this can be closed. Doesn't happen today.

[2022-02-06 01:38] MahtraDR commented on #3069
@rpherbig can we close this as we're enforcing this going forward already?

[2022-02-06 01:39] MahtraDR commented on #2749
@KatoakDR is this related to our dependency collision? I think it is. If it is, this can be closed.

[2022-02-06 01:49] MahtraDR commented on #2624
@rpherbig can close this.

[code]

[code]

[2022-02-06 01:52] MahtraDR commented on #2624
I'll also write a brief wiki article on this if we don't have one.

[2022-02-06 01:58] MahtraDR commented on #1667
@rpherbig close? Seems dead.

[2022-02-06 03:40] #4190 closed

[2022-02-06 03:41] #4072 closed

[2022-02-06 03:41] #3069 closed

[2022-02-06 03:41] #2624 closed

[2022-02-06 03:41] #1667 closed

[2022-02-06 03:44] #4437 closed

[2022-02-06 06:24] MahtraDR commented on #5106
This isn't a bug, and is expected behavior. Whilst Windows file systems aren't case insensitive by default, lich, and dependency are cross platform... Microsoft hosts a nice article on this topic for windows users for when they start working with wsl. It's very informative on the topic. https://docs.microsoft.com/en-us/windows/wsl/case-sensitivity

@rpherbig close?

[2022-02-06 07:18] KatoakDR commented on #2749
Agree

[2022-02-06 12:43] #2749 closed

[2022-02-06 12:43] #5106 closed

[2022-02-06 23:38] MahtraDR opened #5513 "[meta] Can I get permissions to assign labels to issues?"
Hi @rpherbig I see this kind of thing happened back in 2017, where JayRyan had perms for this.

Would it be possible to do that today? It'd be a lot easier to track down issues if we could group them by script. I'm happy to do it once, and for the perms to be removed again if you'd prefer.

[2022-02-06 23:44] MahtraDR commented on #5392
Note this hasn't fallen off the radar, and I have a working proof of concept. I'm a bit stuck until @kato dependency changes go in though, so i can start from a clean dependency. As soon as his PR gets merged, I'll get one submitted for this.

[2022-02-07 01:34] MahtraDR commented on #3133
@rpherbig Can close this. We use `heavens` today.

[2022-02-07 03:07] KatoakDR commented on #5513
Probably a good motivator for us to do https://github.com/rpherbig/dr-scripts/issues/4888 so that once we're part of an organization then it should be easier to assign people roles/teams

[2022-02-07 09:59] MahtraDR commented on #4305
@LuckyThiefDR Any chance you ever got that log?

[2022-02-07 10:01] MahtraDR commented on #4071
@proctophage I realize it's been awhile... is this still an issue you see by chance?

[2022-02-07 10:04] MahtraDR commented on #3883
@kara-ryli Do you still see this? I couldn't reproduce this on mine.

[2022-02-07 10:05] MahtraDR commented on #3881
@KatoakDR Could this be settings collision too?

[2022-02-07 10:06] MahtraDR commented on #3702
@rpherbig Can close this. Doesn't happen today.

[2022-02-07 10:09] MahtraDR commented on #3474
@rpherbig This can be closed.

[2022-02-07 10:11] MahtraDR commented on #3450
@rpherbig can close this.

[2022-02-07 10:12] MahtraDR commented on #3434
@rpherbig athletics accepts targets today. I'd close this, as wontfix.

[2022-02-07 10:14] MahtraDR commented on #3169
@rpherbig can close this. Katoak added this to t2 in https://github.com/rpherbig/dr-scripts/pull/5410

[2022-02-07 10:14] MahtraDR commented on #3284
@rpherbig Can close this. It's what wand_watcher does today.

[2022-02-07 10:15] MahtraDR commented on #3114
@rpherbig Happily we can close this...

[2022-02-07 10:16] MahtraDR commented on #3088
@rpherbig Can close this one.

[2022-02-07 10:16] MahtraDR commented on #3092
@rpherbig Can close this one.

[2022-02-07 10:17] MahtraDR commented on #2998
@rpherbig Can close this one. Without a katana, none of us can address these. As is, katanas aren't supported as swappables.

[2022-02-07 10:19] MahtraDR commented on #2677
@rpherbig Can close this one too. Since the rewrite, pick.lic very clearly empties hands, takes off hindering gear, etc...

[2022-02-07 10:20] MahtraDR commented on #2307
@rpherbig We can close this.

[2022-02-07 10:21] MahtraDR commented on #2103
@rpherbig We can close this.

[2022-02-07 10:22] MahtraDR commented on #1772
@rpherbig We can close this one too. This was added sometime between then, and now.

[2022-02-07 13:49] #1772 closed

[2022-02-07 13:52] #2103 closed

[2022-02-07 13:52] #2307 closed

[2022-02-07 13:55] #3702 closed

[2022-02-07 13:55] #2677 closed

[2022-02-07 13:55] #3450 closed

[2022-02-07 13:55] #3434 closed

[2022-02-07 13:55] #3169 closed

[2022-02-07 13:55] #3284 closed

[2022-02-07 13:55] #3114 closed

[2022-02-07 13:55] #3088 closed

[2022-02-07 13:55] #3092 closed

[2022-02-07 13:55] #2998 closed

[2022-02-07 13:55] #3553 closed

[2022-02-07 13:56] #3474 closed

[2022-02-07 13:58] Angel-DR commented on #3553
Thank you!!!

Angel

On Mon, Feb 7, 2022, 8:56 AM Robert Herbig ***@***.***> wrote:

[2022-02-07 16:53] #3986 closed

[2022-02-07 16:58] rpherbig commented on #5513
@MahtraDR I've invited you to be a collaborator on the repo. As far as I can tell, there's not much granularity with permissions so you're getting a _bunch_ of others, too. https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/managing-user-account-settings/permission-levels-for-a-user-account-repository#collaborator-access-for-a-repository-owned-by-a-user

[2022-02-07 16:59] #5513 closed

[2022-02-07 16:59] #3133 closed

[2022-02-07 17:31] SekmehtDR opened #5528 "Shape.Llic - Missing match when applying glue during Lamination for bows"
[shape]>apply my glue to my longbow

The longbow is ready to be laminated with backer material.  You must assemble the backer with the longbow before proceeding.

[shape: *** No match was found after 15 seconds, dumping info]

[shape: message: The longbow is ready to be laminated with backer material.  You must assemble the backer with the longbow before proceeding.]

[shape: checked against [/a w

[2022-02-07 20:52] #3470 closed

[2022-02-07 20:53] #3166 closed

[2022-02-07 21:08] MahtraDR commented on #4908
This was resolved by https://github.com/rpherbig/dr-scripts/pull/5428

[2022-02-07 21:09] #4340 closed

[2022-02-07 21:09] MahtraDR commented on #4328
Is this still an issue today?

[2022-02-07 21:11] jandersson commented on #4328
Think it can be closed, i remember spending time looking into it to no avail. @LuckyThiefDR can re-open

[2022-02-07 21:11] #4328 closed

[2022-02-07 21:25] MahtraDR commented on #4050
I'm closing this. As nice as I think this is, I don't want to create a situation where folks miss out on healing because of a change we make here. Another way of looking at it... it's all scripted actions. Politeness doesn't factor. :)

[2022-02-07 21:25] #4050 closed

[2022-02-07 21:26] #4017 closed

[2022-02-07 21:28] MahtraDR commented on #3964
Closing this. We don't have this script in our repo.

[2022-02-07 21:28] #3964 closed

[2022-02-07 21:30] #3931 closed

[2022-02-07 21:36] MahtraDR commented on #3900
This is include today already.

[2022-02-07 21:36] #3900 closed

[2022-02-07 21:37] #3910 closed

[2022-02-07 21:39] MahtraDR commented on #3895
This feature already exists today.

[code]

[2022-02-07 21:39] #3895 closed

[2022-02-07 21:41] MahtraDR commented on #3844
Closing this as we don't control the mapdb.

[2022-02-07 21:41] #3844 closed

[2022-02-07 21:42] #3640 closed

[2022-02-07 21:43] #3576 closed

[2022-02-07 21:45] MahtraDR commented on #3565
We do see issues with dependency connection sometimes, when github's cdns barf.

Given this is 2 years old, and without updates. I'll close it for now. If this comes up again, we can see about following it up.

[2022-02-07 21:45] #3565 closed

[2022-02-07 21:46] #3511 closed

[2022-02-07 21:48] #3476 closed

[2022-02-07 21:51] MahtraDR commented on #3467
This can be achieved today by setting the skill for the spell as Sorcery in your own yaml.

[code]

[2022-02-07 21:51] #3467 closed

[2022-02-07 22:12] jandersson commented on #3467
Nice!

[2022-02-07 22:28] asechrest commented on #3313
Let's close this. I'd like to retain the arg order so that we don't break automated calls to it.

[2022-02-07 22:28] MahtraDR commented on #3313
Closing as per @asechrest's comment.

[2022-02-07 22:28] #3313 closed

[2022-02-07 22:54] MahtraDR commented on #2887
Closing. We have `sanowret_adjective` today.

[2022-02-07 22:54] #2887 closed

[2022-02-07 22:58] MahtraDR commented on #2699
No follow up since. Closing.

[2022-02-07 22:58] #2699 closed

[2022-02-07 23:00] MahtraDR commented on #2797
Closing. This call doesn't exist anymore.

[2022-02-07 23:00] #2797 closed

[2022-02-07 23:48] MahtraDR commented on #2721
This is in common.lic today.

[2022-02-07 23:48] #2721 closed

[2022-02-07 23:49] MahtraDR commented on #2613
Since we can now define hunts with and without moons, this is redundant.

[2022-02-07 23:49] #2613 closed

[2022-02-07 23:50] MahtraDR commented on #2603
Does not happen today.

[2022-02-07 23:50] #2603 closed

[2022-02-07 23:55] MahtraDR commented on #2488
I can't reproduce this today.

[2022-02-07 23:55] #2488 closed

[2022-02-08 00:19] MahtraDR commented on #2000
@rpherbig @KatoakDR What do you think here? The current recommended install setup uses `dr-scripts_install` to automate this.

It's obviously not the same thing as having use_lich_fork be the default, but it is also working quite well now.

Revive this? With @KatoakDR's changes to dependency, and the upcoming changes to downloading files, maybe we could revisit having the use_lich_fork toggle be t

[2022-02-08 00:22] MahtraDR commented on #2433
Closing this. Not seen any reports since 2018. We can treat new reports as fresh.

[2022-02-08 00:22] #2433 closed

[2022-02-08 00:23] MahtraDR commented on #2380
Closing. We can treat new reports as fresh whenif they come in.

[2022-02-08 00:23] #2380 closed

[2022-02-08 00:24] MahtraDR commented on #2352
Closing as this issue was resolved between then and now sometime. Can't reproduce today.

[2022-02-08 00:24] #2352 closed

[2022-02-08 00:25] MahtraDR commented on #2440
Closing as this issue was resolved between then and now sometime. Can't reproduce today.

[2022-02-08 00:25] #2440 closed

[2022-02-08 00:25] #2248 closed

[2022-02-08 00:26] MahtraDR commented on #2243
This is fully in commons today...

[2022-02-08 00:26] #2243 closed

[2022-02-08 00:27] MahtraDR commented on #2216
No response. Closing.

[2022-02-08 00:27] #2216 closed

[2022-02-08 00:28] MahtraDR commented on #2176
Closing, as we don't control the mapdb at all, plus it's over four years old.

[2022-02-08 00:28] #2176 closed

[2022-02-08 00:28] MahtraDR commented on #2170
Closing. This happens in today's version already.

[2022-02-08 00:28] #2170 closed

[2022-02-08 00:29] MahtraDR commented on #2144
Closing as we don't control the mapdb where this info is stored...

[2022-02-08 00:29] #2144 closed

[2022-02-08 00:29] MahtraDR commented on #1954
No info in over 4 years. Closing.

[2022-02-08 00:29] #1954 closed

[2022-02-08 00:30] MahtraDR commented on #1944
Closing as we don't control the mapdb, and it's over 4 years old with no response.

[2022-02-08 00:30] #1944 closed

[2022-02-08 00:35] MahtraDR commented on #1911
It all looks canse insensitive now, at a quick glance. Closing.  We can treat new issues as fresh.

[2022-02-08 00:35] #1911 closed

[2022-02-08 00:57] MahtraDR commented on #1909
@rpherbig The comments are in the file, but I don't see the function. I'll leave it open, because it's yours. :)

[2022-02-08 00:58] #1908 closed

[2022-02-08 00:58] MahtraDR commented on #1889
Not enough data to purse, and over 3 years old. Closing.

[2022-02-08 00:58] #1889 closed

[2022-02-08 00:59] MahtraDR commented on #1856
Can't reproduce this today. We can treat new reports as fresh.

[2022-02-08 00:59] #1856 closed

[2022-02-08 00:59] MahtraDR commented on #1854
Closing. Not enough data, and four+ years old. We can treat new reports as fresh.

[2022-02-08 00:59] #1854 closed

[2022-02-08 01:01] #1836 closed

[2022-02-08 01:02] MahtraDR commented on #1822
Closing. Too old an issue to pursue today. Can treat new issues as fresh.

[2022-02-08 01:02] #1822 closed

[2022-02-08 01:03] #1803 closed

[2022-02-08 01:03] MahtraDR commented on #1798
This doesn't happen today with common-item predicates.

[2022-02-08 01:03] #1798 closed

[2022-02-08 01:04] MahtraDR commented on #1779
The script's changed so much since this was opened... closing.

[2022-02-08 01:04] #1779 closed

[2022-02-08 01:05] MahtraDR commented on #1775
The script's changed so much since this was opened... closing.

[2022-02-08 01:05] #1775 closed

[2022-02-08 01:08] MahtraDR commented on #1850
@KatoakDR I think this is related to why my `hyh` buff is released, so combat trainer can cast `HYH` for my buffs. I'll poke at it this week.

[2022-02-08 01:08] #1736 closed

[2022-02-08 01:09] MahtraDR commented on #1684
Is this still an issue today? I don't know anyone who uses slack with DR...

[2022-02-08 01:10] MahtraDR commented on #1661
Closing this, because today we can choose recipes for workorders, which in turn dictates materials.

[2022-02-08 01:10] #1661 closed

[2022-02-08 01:12] MahtraDR commented on #1642
clean-lumber has support for belts today.

[2022-02-08 01:12] #1642 closed

[2022-02-08 01:13] MahtraDR commented on #1641
Closing. Nobody's complained in 4 years...

[2022-02-08 01:13] #1641 closed

[2022-02-08 01:13] MahtraDR commented on #1639
This has largely all been split today into the many commons-*.lic we have. Closing. We can treat new issues as fresh.

[2022-02-08 01:13] #1639 closed

[2022-02-08 01:14] MahtraDR commented on #1595
Closing as it's too old, and I can't figure out what it's about today. Happy to treat a new issue as fresh.

[2022-02-08 01:14] #1595 closed

[2022-02-08 01:15] MahtraDR commented on #1569
Closing, looks abandoned, although a good idea.

[2022-02-08 01:15] #1569 closed

[2022-02-08 01:16] MahtraDR commented on #1565
Closing as this support exists today.

[2022-02-08 01:16] #1565 closed

[2022-02-08 01:17] MahtraDR commented on #1549
Whilst I agree this is an issue, and I think it's even around today... we can't (and won't) code for all edge cases. In this instance, one wouldn't be stuck if they set `skip_last_kill` which is the recommended way today.

[2022-02-08 01:17] #1549 closed

[2022-02-08 01:17] MahtraDR commented on #1536
This is what `clerk-tools.lic` does today.

[2022-02-08 01:17] #1536 closed

[2022-02-08 01:18] rpherbig commented on #1909
Bankbot is basically dead due to a change in Simu's policy. People could still run it, I guess, but it's no longer approved and money will be confiscated.

[2022-02-08 01:18] #1909 closed

[2022-02-08 01:19] MahtraDR commented on #1484
Closing as no response, and can't reproduce.

[2022-02-08 01:19] #1484 closed

[2022-02-08 01:19] MahtraDR commented on #1507
Closing because it's super stale. If someone wants to pick up the idea, they are welcome to.

[2022-02-08 01:19] #1507 closed

[2022-02-08 01:21] MahtraDR commented on #1527
Closing. Sometime since this was opened workoders was updated to match the type of ticket to the type of clerk.

[2022-02-08 01:21] #1527 closed

[2022-02-08 01:21] MahtraDR commented on #1532
Closing. combat-trainer just shuts off the ranged skill when you run out of ammo today.

[2022-02-08 01:21] #1532 closed

[2022-02-08 01:25] MahtraDR commented on #1909
Thanks for that note. I'll close out all the bankbot issues now.

[2022-02-08 01:26] MahtraDR commented on #1910
Closing as per https://github.com/rpherbig/dr-scripts/issues/1909#issuecomment-1032112683

[2022-02-08 01:26] #1910 closed

[2022-02-08 01:26] MahtraDR commented on #1750
Closing as per https://github.com/rpherbig/dr-scripts/issues/1909#issuecomment-1032112683

[2022-02-08 01:26] #1750 closed

[2022-02-08 01:27] #5244 closed

[2022-02-08 02:03] MahtraDR commented on #2262
Closing this. We have a lot of issues to work on today, and this has had zero additional interest in four years.

[2022-02-08 02:03] #2262 closed

[2022-02-08 02:04] MahtraDR commented on #2971
Closing this. We have a lot of issues to work on today, and this has had zero additional interest in 3+ years.

[2022-02-08 02:04] #2971 closed

[2022-02-08 02:05] MahtraDR commented on #1645
Closing this. We have a lot of issues to work on today, and this has had zero additional interest in four years.

[2022-02-08 02:05] #1645 closed

[2022-02-08 02:12] rpherbig commented on #2000
The new setup script uses the fork right?

[2022-02-08 02:14] MahtraDR commented on #2000
Yes, the setup script enables the fork for new users.

What would be a benefit would be if dependency itself  checked lich version, and gave a warning if it doesn't detect the fork. Even if it doesn't auto-toggle the fork, users would know. (I'd love that check at login, make dependency require the fork to run beyond basic functions)

[2022-02-08 02:29] #4456 closed

[2022-02-08 03:06] #5451 closed

[2022-02-08 03:59] MahtraDR commented on #4294
Closing this, since upon further inspection the original issue has been resolved, and magic works today.

[2022-02-08 03:59] #4294 closed

[2022-02-08 04:17] asechrest commented on #5528
@SekmehtDR Can you provide a log that shows some before and after? Did the script continue after this and successfully complete?

Thanks.

[2022-02-08 07:15] KatoakDR commented on #2444
I hate that, too! 😆

[2022-02-08 07:16] MahtraDR commented on #3456
We had a chat between the active devs at this time, and we've decided against pursuing this.

It would require significant changes to various scripts to deal with avoids, on/before joins, on death, etc... This issue is over two years old, and hasn't had any interest since. Closing.

[2022-02-08 07:16] #3456 closed

[2022-02-08 15:22] asechrest opened #5537 "Identifying method calls that aren't defined in the script"
Not really an issue with DR Lich, just putting it here for some visibility with devs.

As we go through old scripts and remove includes in favor of the common prefixes, one of the challenges is making sure we've actually identified all the methods that need a prefix. And testing the script can sometimes fool you into thinking you've captured them all when you've actually missed one and the `-commo

[2022-02-08 15:38] rpherbig commented on #5537
I'm not aware of any such IDE.

This would only happen if the script still has the `include` in it, right? If so, I kind of feel like the best way to do this is just to pick one common file, maybe one function, and fix it everywhere. Once all functions in a common file have been moved over, we can remove all includes of that common file.

Done all at once, I think it's mostly a find/replace proble

[2022-02-08 18:06] asechrest opened #5538 "[script][dependency] - Issue aggregation for new dependency"
New dependency was a big update. We've had some issues reported in Discord. Aggregating here. I will be fairly broad listing these issues. Some may end up being unrelated.

1. New dependency appears to enforce case sensitivity in yaml files. Many (most?) of us assumed old dependency already enforced `<YourChar>-setup.yaml` case sensitivity. That idea is supported by the sample files all adhering t

[2022-02-08 19:42] MahtraDR commented on #5537
After some googling last night, It looks like Robucop would do this. Or other linters. I'll play with this today. I'm just struggling to stop using vim as my editor. :)

[2022-02-08 20:32] asechrest commented on #5538
Related to #2 above:

Reports on Discord that drinfomon isn't tracking mana properly until a forced manual `info`.

https://discord.com/channels/745675889622384681/745675890242879671/940699495006629950

[2022-02-08 20:59] asechrest commented on #5538
Pulling `drinfomon` from a few PRs ago and testing it with _new_ dependency exhibits the same `drinfomon` issues. I'll confirm that behavior later.

If that's the case, we have some hiccup with the way new dependency interacts with, or handles, drinfomon. Also important to note that a manual pull of `info` _fixes_ the drinfomon data loading, so it's not necessarily that drinfomon is broken.

[2022-02-09 00:28] MahtraDR commented on #3841
This looks to be a map issue, which I can't reproduce today. Closing. Will look at a new issue as fresh if one comes in.

[2022-02-09 00:28] #3841 closed

[2022-02-09 00:29] MahtraDR commented on #2962
This has been pending for over 3 years now. None of the current active developers has any interest in this, so closing it out. Would happily consider a new request as fresh.

[2022-02-09 00:29] #2962 closed

[2022-02-09 00:54] MahtraDR commented on #4123
Closing this. I just checked in with Kali and it's on her list already. Nothing more we can do about this as we don't host the mapdb.

[2022-02-09 00:54] #4123 closed

[2022-02-09 01:09] MahtraDR commented on #3312
Barb analyze support was added sometime between when this issue was opened, and today. Closing.

[2022-02-09 01:09] #3312 closed

[2022-02-09 02:24] MahtraDR commented on #3296
Looking into adding this last night and today, and I think the reason it wasn't added for clerics is two-fold. The main reason is it is a very small devotion boost, and it's on an 80 minute timer. We basically max out devotion with theurgy, then go into combat, and maintain it with prayer mats during combat. I don't want to add in code we end up having to maintain for marginal benefit. Closing thi

[2022-02-09 02:24] #3296 closed

[2022-02-09 08:06] MahtraDR commented on #3056
This has been pending for over 3 years now. No interest has been shown on this since it was opened, so closing as stale. Would happily consider a new request as fresh.

[2022-02-09 08:06] #3056 closed

[2022-02-09 08:06] MahtraDR commented on #2905
This has been pending for over 3 years now. No interest has been shown on this since it was opened, so closing as stale. Would happily consider a new request as fresh.

[2022-02-09 08:06] #2905 closed

[2022-02-09 08:06] MahtraDR commented on #3151
This has been pending for over 3 years now. No interest has been shown on this since it was opened, so closing as stale. Would happily consider a new request as fresh.

[2022-02-09 08:06] #3151 closed

[2022-02-09 08:20] MahtraDR commented on #3390
Closing this. It's quite stale, and this is a very common symptom of https://github.com/rpherbig/dr-scripts/issues/5451, which we have a fix for now.

[2022-02-09 08:20] #3390 closed

[2022-02-09 09:43] #2751 closed

[2022-02-09 09:47] MahtraDR commented on #2661
This is quite an old issue, and I don't know anyone using slack with lich today. Closing.

[2022-02-09 09:47] #2661 closed

[2022-02-09 09:48] MahtraDR commented on #4062
This is a very old issue now. Closing. Would be happy to revisit this request as fresh if it comes up again.

[2022-02-09 09:48] #4062 closed

[2022-02-09 09:48] MahtraDR commented on #3919
This is a very old issue now. Closing. Would be happy to revisit this request as fresh if it comes up again.

[2022-02-09 09:48] #3919 closed

[2022-02-09 09:51] MahtraDR commented on #3423
This is a very old issue, with no follow up since. Would be happy to revisit this topic as fresh when if it comes up again.

[2022-02-09 09:51] #3423 closed

[2022-02-09 09:52] MahtraDR commented on #3423
Note also that today we have dissect to train FA in combat. Beats reading a book! :)

[2022-02-09 09:52] MahtraDR commented on #1582
This is a very old issue, with no follow up since. Would be happy to revisit this topic as fresh when if it comes up again.

[2022-02-09 09:52] #1582 closed

[2022-02-09 09:52] MahtraDR commented on #1684
This is a very old issue, with no follow up since. Would be happy to revisit this topic as fresh when if it comes up again.

[2022-02-09 09:52] #1684 closed

[2022-02-09 09:53] MahtraDR commented on #1741
Closing. I can't reproduce this.

[2022-02-09 09:53] #1741 closed

[2022-02-09 09:53] MahtraDR commented on #3439
This is a very old issue, with no follow up since. Would be happy to revisit this topic as fresh when if it comes up again.

[2022-02-09 09:53] #3439 closed

[2022-02-09 09:56] MahtraDR commented on #2546
This is very old now, and the predicates exist. Closing the issue. If it comes up again, we can review it as afresh.

[2022-02-09 09:56] #2546 closed

[2022-02-09 09:57] MahtraDR commented on #3320
Closing this as stale, and can't reproduce today.

[2022-02-09 09:57] #3320 closed

[2022-02-09 09:59] MahtraDR commented on #4146
Closing as it's an old issue, with no additional interest shown since.

[2022-02-09 09:59] #4146 closed

[2022-02-09 12:01] MahtraDR commented on #3929
Trying to wrap my head around this one, and I think the context is a bit gone now. It's old too. We can revisit if the topic comes up again.

[2022-02-09 12:01] #3929 closed

[2022-02-09 12:03] MahtraDR commented on #3881
Don't think it's related to settings, but it is still old and stale, and I can't reproduce it today. Happy to revisit the topic if it comes up again as a fresh issue.

[2022-02-09 12:03] #3881 closed

[2022-02-09 15:50] #4289 closed

[2022-02-09 16:03] rpherbig commented on #3423
Nothing beats hands-on (or is it _hands-in_?) experience

[2022-02-10 03:13] MahtraDR commented on #3414
It's not exactly the same thing, but in the mean time we've got `release_cyclic_on_low_mana` and `release_cyclic_threshold` which accomplish the stated goal of dealing with mana management from cyclics. Given how old this issue is, I'm closing it out.

I'd be happy to look at this issue as fresh whenif it comes up again.

[2022-02-10 03:13] #3414 closed

[2022-02-10 03:16] MahtraDR commented on #3733
Closing as a duplicate of https://github.com/rpherbig/dr-scripts/issues/3733 purely because that one has a lot more info/context, so makes more sense to me that we keep that one.

[2022-02-10 03:16] #3733 closed

[2022-02-10 03:17] MahtraDR commented on #3336
Today we have `cambrinth_invoke_exact_amount` which makes this moot. Closing as no longer relevant.

[2022-02-10 03:17] #3336 closed

[2022-02-10 03:20] MahtraDR commented on #2366
After consultation with my resident Necro class expert, I'm closing this out as no longer relevant today.

Would be happy to revisit as a fresh issue whenif it comes up again.

[2022-02-10 03:20] #2366 closed

[2022-02-10 03:21] MahtraDR commented on #1357
@rpherbig I realize it's a bit old now... What you did have in mind with this? base-spells today is extremely comprehensive, and has sensible defaults. What else would you be looking at to resolve this?

[2022-02-10 03:56] MahtraDR commented on #4102
Closing as per the most recent comment.

[2022-02-10 03:56] #4102 closed

[2022-02-10 11:28] rpherbig commented on #1357
Do all of the settings I listed use base-spells now?

[2022-02-10 14:12] KatoakDR commented on #1357
I think this is now handled in the latest dependency update.

Start at https://github.com/rpherbig/dr-scripts/blob/983ec8fb87699cb59bb35dbb94bc5519e361213e/dependency.lic#L1095 and peruse the next few lines. Let me know if there's any yaml properties that hold spells that are left out.

[2022-02-10 15:47] rpherbig commented on #1357
`crossing_training_sorcery` is the only one I noticed

[2022-02-10 18:54] Kaesken opened #5556 "Dirge Vault Room"
So, was heading to the vault without realizing I was closer to the Dirge one and I guess there's multiple room descriptions for it because it goes there no problem, but once there, go2 doesn't work cause the room isn't recognized.

[code]

[code]

[2022-02-10 23:35] mwest152 opened #5557 "common-items - add messaging for plate armor goggles"
**remove my goggles
You carefully remove your metal-framed goggles from your eyes.
wear my goggles
You carefully arrange a pair of metal-framed goggles on your eyes so that it accents your features.**

app goggles quick
The metal-framed goggles are plate armor.

The goggles look like they offer protection for the following areas:

    right eye
    left eye

You feel certain that a pair of metal-f

[2022-02-10 23:42] asechrest commented on #5557
I got this one. Discussed in Discord.

[2022-02-11 00:40] #5557 closed

[2022-02-11 14:35] mwest152 opened #5563 "Ranger-Companion not unpausing scripts when out of milk"
**Ranger-Companion fails to restart all scripts if it can't find milk in your inventory**

A baby wolf begins to whimper.
--- Lich: t2 paused.
--- Lich: sanowret-crystal paused.
--- Lich: hunting-buddy paused.
--- Lich: combat-trainer paused.
The onyx gargoyle begins to advance on you!
The onyx gargoyle is still a distance away from you and is closing steadily.
You've gained a new rank in your abi

[2022-02-11 17:40] mwest152 commented on #5563
In the odd chance someone else runs into this, restock seems to work for milk from Arthe Dale.

restock:
  super_cool_milk:
     name: milk
     room: 19240
     price: 18
     size: 1
     stackable: false
     quantity: 3

[2022-02-11 21:39] asechrest commented on #5563
I see the issue with the script and can offer a fix perhaps this evening.

[2022-02-11 21:58] Kaesken opened #5566 "shape script"
Script tried to apply glue twice and bonked.
[code]

[2022-02-12 00:39] MahtraDR commented on #5528
This is a dupe of https://github.com/rpherbig/dr-scripts/issues/5566, and whilst that one is newer, this one has less info. Closing this one, and we can work on the other.

[2022-02-12 00:42] mwest152 commented on #5563
Nice!  It seem like it wasn't too much to change, but i didn't want to risk it.  I break scripts looking at the wrong.

[2022-02-12 01:12] MahtraDR commented on #5556
Fixed now. Thanks @Hiinky for holding my hand while I did it.

[2022-02-12 01:12] #5556 closed

[2022-02-12 21:04] MahtraDR commented on #1450
I initially started looking into adding check_listening and have since decided against it. This issue is five years old now and we couldn't think of a good use case for this today.

Closing.

[2022-02-12 21:04] #1450 closed

[2022-02-13 18:55] #5538 closed

[2022-02-13 19:55] MahtraDR commented on #4216
Closing, resolved in https://github.com/rpherbig/dr-scripts/pull/5544

[2022-02-15 15:48] Kaesken opened #5593 "Combat trainer + incense issue when flint is unavailable or missing"
Turns out my flint was missing but not sure if you guys wanted this info or not.

[code]

[2022-02-15 17:59] MahtraDR commented on #5593
Thank you! I'll look into this in a bit. It should give an error here.

[2022-02-16 01:49] asechrest commented on #5593
Maybe we should use `DCRI.exists?` to verify the flint exists and if so, skip, instead of just trying 5 times?

[2022-02-16 02:59] #5593 closed

[2022-02-17 07:06] MahtraDR commented on #3948
Hi, sorry for the delay here.

If it works like bound weapons, you can try using `:bound: true` in your gear sets, and that should work. This issue is quite old now though, so closing it out for now. Happy to revisit this issue as fresh if it's still happening today.

[2022-02-17 07:06] #3948 closed

[2022-02-17 17:31] mwest152 opened #5602 "locksmithing.lic vs pick.lic mindstates"
Not really a big issue, and probably no one noticed but me:

When running locksmithing setting pick_live_boxes: true, the script can still use consumable pick boxes when you have boxes available if pick stops before 34/34.    It looks like the mindset threshold on pick.lic is 30, and 34 for locksmithing.lic

I was originally treating it as a feature to efficiently top off my locksmithing, but I'd

[2022-02-17 17:58] asechrest opened #5603 "Autostart script adding sometimes not persistent"
While testing #5601 and relogging multiple times with `;tdps` and `;drinfodump` (my custom testing script for version checks and DRStats dump) _recently_ added to autostart, I noticed that these two scripts were being removed from my autostarts. I have recreated the issue 5 times now by simply logging out and back in multiple times. Sometimes both scripts are removed from autostart after a single

[2022-02-18 05:05] #5563 closed

[2022-02-20 06:24] MahtraDR commented on #2000
@rcuhljr @KatoakDR, @rpherbig and myself were discussing this topic again. We're discussing folding the process in https://github.com/rpherbig/dr-scripts/wiki/First-Time-Setup into `;dependency install` and the topic came up as to why it wasn't already that way. If there was a reason we weren't aware of. @rpherbig Suggested we ask you. Any opinions/ideas here? Thanks!

[2022-02-20 07:02] rcuhljr commented on #2000
Early on the fork was less divergent from the mainline and less important to proper lich functionality, also it felt kind of presumptuous to me at the time to say 'hey we're also going to swap out the entire lich you're using'. kind of thing. I suspect that ship has sailed. We had no reasons for not doing it besides philosophical. I can't imagine any technical reason that would limit the change.

[2022-02-20 07:26] MahtraDR commented on #2000
Thank you for responding. That's an era I wasn't back to DR yet for, and that makes a lot of sense.

By contrast, today the dr-fork is a basic requirement we take for granted. Will proceed as planned. :)

[2022-02-21 04:07] MahtraDR commented on #3395
This came up in conversation recently and the problem with resolving this is that the stunned check is often used in combat so we can't make it slower. Closing as won't fix. Nobody is stunned for that long, and they can't do anything whilst stunned anyway. A little spam won't hurt anyone. 😀

[2022-02-21 14:43] rpherbig commented on #3395
I don't think the idea here was to change stun checking in any common way. My understanding is that the ask was to change `safe-room` to detect stun and wait, e.g. here: https://github.com/rpherbig/dr-scripts/blob/master/safe-room.lic#L270

Even if my understanding is correct, I have no opinion on whether or not this is worth changing.

[2022-02-21 17:04] BinuDR commented on #3395
We were testing stuns last night.  Lich.rbw has a check for stuns, `stunned?`, and it works most of the time.  Some stuns don't register though, which is a bug on Simu's end.  We can use this relatively reliably to deal with stuns, and request that if anyone finds any other stuns that it doesn't work that they bug it with Simu.

[2022-02-21 18:45] MahtraDR commented on #3395
As Binu says, we're actually looking into this in a general way. Reopening for now.

[2022-02-27 06:34] #5440 closed

[2022-02-27 06:38] KatoakDR commented on #4071
`tendme` and how combat-trainer calls the script have changed to address issues like this. I imagine this is now resolved. If this is still happening, please comment on the issue with a game log and steps to reproduce. Thanks!

[2022-02-27 06:38] #4071 closed

[2022-02-27 06:41] #1850 closed

[2022-02-27 06:46] KatoakDR commented on #2653
`drinfomon` now identifies your account subscription in `UserVars.subscription`, thanks

[2022-02-27 06:46] #2653 closed

[2022-02-28 04:00] KatoakDR commented on #1807
Yep, and that's what was implemented in https://github.com/rpherbig/dr-scripts/pull/4419

https://github.com/rpherbig/dr-scripts/blob/567483a6bd76c4f8b82800f8b04fe846b63ebed0/common-travel.lic#L304

[2022-02-28 04:00] #1807 closed

[2022-02-28 21:18] asechrest opened #5628 "[IDEA] - Call a script with some built-in argument that outputs a bit of information about the script, the available arguments, and the yaml settings used"
Today in Discord I was explaining to a fairly new user how to open up a script and take a look at the allowable required or optional arguments that the script can be called with: https://discord.com/channels/745675889622384681/745678330933805157/947946336324558899

Before writing out that explanation, I was inclined to say: "Oh, just call the script with no arguments and you'll get an output of th

[2022-03-01 01:40] rpherbig opened #5629 "This is an issue to test our webhook"